<footer class="border-top footer text-muted text-center">

    <div class="row mt-5" style="background: #032E61;">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 m-auto">
            <div class="row py-4">
                <div class="col-sm-12">
                    <p class="text-white">
                        © Copyright @DateTime.Now.Year CSR Pulse.com
                        <span class="text-primary pl-5">All rights reserved.</span>
                        <span class="pl-2">Various trademarks held by their respective owners.</span>
                    </p>
                </div>
                <div class="col-sm-12">
                    <div class="foot-bottom-ul">
                        <ul>
                            <li> <a href="#">Legal</a> </li>
                            <li> <a href="#">Terms of Service</a> </li>
                            <li> <a href="#">Privacy</a> </li>
                            <li> <a href="#">Responsible Disclosure</a> </li>
                            <li> <a href="#">Trust</a> </li>
                            <li> <a href="#">Contact</a> </li>
                            <li> <a href="#">Cookie Preferences</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<a href="#" id="scroll" style="display: none;"><span></span></a>
