
@{

    var message = TempData["Message"] == null ? "" : TempData["Message"].ToString();
    var messageError = TempData["Error"] == null ? "" : TempData["Error"].ToString();


}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - CSR PULSE</title>
   
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-iconpicker/css/fontawesome-iconpicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true">

    <script type="text/javascript">
    function commonMessage(msgType, msg) {
        debugger;
        if (msgType == "error") {
            debugger;
    var str = '@HtmlEncoder.Encode(@messageError)';
    str = str.replace(/&amp;lt;/g, "<").replace(/&amp;gt;/g, ">").replace(/&amp;#39;/g, "'");
            $.bootstrapGrowl('<div class="alert alert - danger alert - dismissable"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong><span class="glyphicon glyphicon - remove"></span> Error: </strong>' + msg + "", {
                align: 'center',
                width: 'auto',
                allow_dismiss: false,
                delay: 10000
    });
    }
    else if (msgType == "success") {

        $.bootstrapGrowl('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong><i class="far fa-check-circle"></i> Success! </strong>' + msg, {
            align: 'center',
            width: 'auto',
            allow_dismiss: false,
            delay: 10000
    });
        }
        else if (msgType == "warning") {

            $.bootstrapGrowl('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong><span class="glyphicon glyphicon-warning-sign"></span> Warning: </strong>' + msg, {
                align: 'center',
                width: 'auto',
                allow_dismiss: false,
                delay: 10000
            });
        }
    }

    </script>
</head>
<body>
    <partial name="_header" />
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="_footer" />

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/bootstrap-growl/jquery.bootstrap-growl.js"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 300) {
                $('.header-fix').addClass('fixed-header');
                // $('nav div').addClass('visible-title');
            }
            else {
                $('.header-fix').removeClass('fixed-header');
                // $('nav div').removeClass('visible-title');
            }
        });

        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {

                    $('#scroll').fadeIn();
                } else {
                    $('#scroll').fadeOut();
                }
            });
            $('#scroll').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });
        });
    </script>
</body>
</html>
