@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using CSRPulse.Model
@{
    var uData = HttpContextAccessor.HttpContext.Session.GetComplexData<UserDetail>("User");
}

@if (uData != null)
{

    <li class="dropdown notification-list">
        <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false"
           aria-expanded="false">
            <span class="account-user-avatar">
                <img src="~/assets/images/users/@uData.ImageName" asp-append-version="true" alt="user-image" class="rounded-circle">
            </span>
            <span>
                <span class="account-user-name">@(uData.FullName)</span>
                <span class="account-position">@(uData.RoleName)</span>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
            <!-- item-->
            <div class=" dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome !</h6>
            </div>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="mdi mdi-account-circle me-1"></i>
                <span>My Account</span>
            </a>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="mdi mdi-account-edit me-1"></i>
                <span>Settings</span>
            </a>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="mdi mdi-lifebuoy me-1"></i>
                <span>Support</span>
            </a>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="mdi mdi-lock-outline me-1"></i>
                <span>Lock Screen</span>
            </a>

            <!-- item-->

            <a asp-area="Admin" asp-controller="Account" asp-action="Logout" class="dropdown-item notify-item">
                <i class="mdi mdi-logout me-1"></i>
                <span>Logout</span>
            </a>

        </div>
    </li>

}



