
<li> <a asp-area="" asp-controller="Account" asp-action="login" asp-route-returnUrl="@Context.Request.Path">Login</a> </li>
<li> <a asp-controller="Account" asp-action="Signup">Register</a> </li>
<li> 000 800 001 6000</li>