<li><a asp-action="CustomerLogin" asp-controller="Account" asp-route-returnUrl="@Context.Request.Path">Customer Login</a></li>
<li> <a asp-area="" asp-controller="Account" asp-action="login" asp-route-returnUrl="@Context.Request.Path">Login</a> </li>
@*<li> <a asp-controller="Registration" asp-action="Index">Register</a> </li>*@
<li> <a asp-area="" asp-controller="Contact" asp-action="ContactMe">Contact Us</a> </li>

