
<li> <a asp-area="" asp-controller="Account" asp-action="login" asp-route-returnUrl="@Context.Request.Path">Login</a> </li>
<li> <a asp-controller="Registration" asp-action="Index">Register</a> </li>
<li> <a asp-area="" asp-controller="Contact" asp-action="ContactMe">Contact Us</a> </li>
<li> 000 800 001 6000</li>
