
<li> <a asp-area="Admin" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login</a> </li>
<li> <a asp-controller="Account" asp-action="Signup">Register</a> </li>
<li> 9542156348</li>