@inject IMaintenanceService Service
@{
    var Maintenance = Service.GetMaintenanceDetails();
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Maintenance | CSRPulse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CSR, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" asp-append-version="true">

    <!-- App css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/assets/css/app-creative.min.css" rel="stylesheet" type="text/css" id="light-style" asp-append-version="true" />
    <link href="~/assets/css/app-creative-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" asp-append-version="true" />

</head>

<body class="loading" data-layout-config='{"darkMode":false}'>

    <div class="mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">

                    <div class="text-center">
                        <img src="~/assets/images/maintenance.svg" height="140" alt="site is under maintenance">
                        <h3 class="mt-4">Site is Under Maintenance</h3>
                        <p>We're making the system more awesome. We'll be back shortly.</p>

                        @if (Maintenance != null)
                        {
                            <h3 class="mt-4"></h3>
                            <label id="lbltime" style="display:none">@Maintenance.EndDateTime.ToString("MMM dd yyyy HH:mm:ss")</label>

                        }
                        <p class="h3">
                            <span id="days"></span> <span id="hours"></span> <span id="mins"></span><span id="secs"></span>
                            <span id="end"></span>
                        </p>
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <div class="text-center mt-3 ps-1 pe-1">
                                    <i class="dripicons-jewel bg-primary maintenance-icon text-white mb-2"></i>
                                    <h5 class="text-uppercase">Why is the Site Down?</h5>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                                </div>
                            </div> <!-- end col-->
                            <div class="col-md-4">
                                <div class="text-center mt-3 ps-1 pe-1">
                                    <i class="dripicons-clock bg-primary maintenance-icon text-white mb-2"></i>
                                    <h5 class="text-uppercase">What is the Downtime?</h5>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical but the majority.</p>
                                </div>
                            </div> <!-- end col-->
                            <div class="col-md-4">
                                <div class="text-center mt-3 ps-1 pe-1">
                                    <i class="dripicons-question bg-primary maintenance-icon text-white mb-2"></i>
                                    <h5 class="text-uppercase">Do you need Support?</h5>
                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embar.. <a href="mailto:#" class="text-muted fw-bold">no-reply@csrpulse.com</a></p>
                                </div>
                            </div> <!-- end col-->
                        </div> <!-- end row-->
                    </div> <!-- end /.text-center-->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->


    <footer class="footer footer-alt">
        <script>document.write(new Date().getFullYear())</script> © CSRPulse - CSRPulse.com
    </footer>

    <!-- bundle -->
    <script src="~/assets/js/vendor.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/app.min.js" asp-append-version="true"></script>
    <script>
        // The data/time we want to countdown to
        var tt = $("#lbltime").text();
        var countDownDate = new Date(tt).getTime();

        // Run myfunc every second
        var myfunc = setInterval(function () {

            var now = new Date().getTime();
            var timeleft = countDownDate - now;

            // Calculating the days, hours, minutes and seconds left
            var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
            var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

            // Result is output to the specific element
            document.getElementById("days").innerHTML = days + "d "
            document.getElementById("hours").innerHTML = hours + "h "
            document.getElementById("mins").innerHTML = minutes + "m "
            document.getElementById("secs").innerHTML = seconds + "s "

            // Display the message when countdown is over
            if (timeleft < 0) {
                clearInterval(myfunc);
                document.getElementById("days").innerHTML = ""
                document.getElementById("hours").innerHTML = ""
                document.getElementById("mins").innerHTML = ""
                document.getElementById("secs").innerHTML = ""
                document.getElementById("end").innerHTML = "TIME UP!!";
            }
        }, 1000);
    </script>
</body>
</html>
