@model CSRPulse.Model.State
@{
    ViewData["Title"] = "Add New State";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Masters</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Locations</a></li>
                    <li class="breadcrumb-item active">State</li>
                </ol>
            </div>
            <h4 class="page-title">State</h4>
        </div>
    </div>
    <div class="col">
        <partial name="_NoteFieldsMark" />
    </div>
</div>



<div class="card">
    <div class="card-body">
        <form method="post" asp-controller="State" asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="mb-3">
                        <label asp-for="StateName" class="form-label required"></label>
                        <input type="text" asp-for="StateName" class="form-control" maxlength="100" placeholder="Enter State Name (max 100 characters)" autocomplete="off">
                        <span asp-validation-for="StateName" class="invalid"></span>
                    </div>


                    <div class="mb-3">
                        <label asp-for="StateShort" class="form-label"> </label>
                        <input type="text" asp-for="StateShort" class="form-control" maxlength="4" placeholder="Enter Short Name (max 4 characters)" autocomplete="off">
                        <span asp-validation-for="StateShort" class="invalid"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="StateCode" class="form-label required"> </label>
                        <input type="text" asp-for="StateCode" onkeypress="return onlyNumber(event)" class="form-control" maxlength="2" placeholder="Enter State Code (max 2 digits number)" autocomplete="off">
                        <span asp-validation-for="StateCode" class="invalid"></span>
                    </div>
                    <div class="mb-2 text-end">
                        <a asp-area="" asp-controller="State" asp-action="Index" class="btn btn-light btn-sm"><i class="dripicons-reply m-1"></i> Back to list </a>
                        <button class="btn btn-primary btn-sm" type="submit"><i class="uil-weight me-1"></i> Save </button>
                    </div>
                </div>

            </div> <!-- end card -->
        </form>
    </div> <!-- end card body-->
</div>
