<section id="footer-wrap">
    <div class="row mt-5" style="background: #032E61;">
        <div class="col-sm-12">
            <div class="row py-1 m-0">
                <div class="col-sm-12">
                    <p class="text-white mb-1">
                        Copyright  &copy; CSR Pulse @DateTime.Now.Year
                    </p>
                </div>               
            </div>
        </div>
    </div>
</section>