<header class="app-header">
    <a class="app-header__logo" href="index.html">
        CSR<span class="pl-1" style="color: #a1caf7;">PULSE</span>
    </a>
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <ul class="app-nav">
        <li class="app-search">
            <input class="app-search__input" type="search" placeholder="Search">
            <button class="app-search__button"><i class="fa fa-search"></i></button>
        </li>
        <!-- Login info-->
        <partial name="_LoginInfo" />
    </ul>
</header>
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <ul class="app-menu">       
        @await Component.InvokeAsync("UserMenu")
    </ul>
</aside>