@model IEnumerable<SubActivity>
<div class="card">
    <div class="card-body">
        <div class="text-end">
            <a asp-controller="SubActivity" asp-action="Create" class="btn btn-danger btn-rounded mb-3"><i class="mdi mdi-plus"></i> Add New SubActivity</a>
        </div>
        <table id="basic-datatable" class="table table-hover dt-responsive nowrap w-100">
            <thead class="thead-light">
                <tr>
                    <th width="5%">#</th>
                    <th>SubActivity Name</th>
                    <th>SubActivity Code</th>
                    <th width="5%">Active</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var subActivity in Model)
                    {
                        <tr>
                            <td>
                                <span>@(Model.ToList().IndexOf(subActivity) +1)</span>
                            </td>

                            <td><span data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to edit this subactivity."> @Html.ActionLink(subActivity.SubActivityName, "Edit", "SubActivity", new { subActivityId = subActivity.SubActivityId})</span></td>
                            <td>@subActivity.SubActivityCode</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="switch_@subActivity.ActivityId" data-bs-toggle="modal" data-bs-target="#info-header-modal" data-switch="success" onchange="openpopup(this)" @if (subActivity.IsActive == true) { <text> checked="checked" </text> } />
                                    <label for="switch_@subActivity.ActivityId" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">No Records Found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
