@model PartnerPolicyModule
@{
    ViewData["Title"] = "Edit Partner Policy Module";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">                   
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item active">Edit Partner Policy Module</li>
                </ol>
            </div>
            <h4 class="page-title">Edit Partner Policy Module</h4>
        </div>
    </div>
    <div class="col">
        <partial name="_NoteFieldsMark" />
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form method="post" asp-controller="PartnerPolicyModule" asp-action="Edit">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PolicyModuleId" />
            <input type="hidden" asp-for="PolicyId" />
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="mb-3">
                        <label asp-for="PolicyId" class="form-label required"></label>
                        <select asp-for="PolicyId" id="ddlPartnerPolicy" asp-items="@ViewBag.ddlPartnerPolicy" aria-required="true" disabled class="form-select">
                            <option disabled="" label="Select Partner Policy" selected="" value=""></option>
                        </select>
                        <span asp-validation-for="PolicyId" class="invalid"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="PolicyModuleName" class="form-label required"></label>
                        <input type="text" asp-for="PolicyModuleName" class="form-control" maxlength="256" placeholder="Enter Policy Module Name (max 256 characters)" autocomplete="off">
                        <span asp-validation-for="PolicyModuleName" class="invalid"></span>
                    </div>

                    <div class="mb-2 text-end">
                        <a asp-area="" asp-controller="PartnerPolicyModule" asp-action="Index" class="btn btn-light btn-sm"><i class="dripicons-reply m-1"></i> Back to list </a>
                        <button class="btn btn-primary btn-sm" type="submit"><i class="mdi mdi-file-document-edit m-1"></i> Update </button>
                    </div>
                </div>

            </div> <!-- end card -->
        </form>
    </div> <!-- end card body-->
</div>