<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering removeServerHeader="true" />
		</security>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<add name="ETag" value="no-cache; no-store" />
				<add name="Expires" value="nosniff" />
				<add name="Pragma" value="-1" />
				<add name="X-Content-Type-Options" value="1; model=block" />
				<add name="X-Frame-Options" value="max-age=31536000; includeSubDomains; preload" />
				<add name="X-XSS-Protection" value="SAMEORIGIN" />				
			</customHeaders>
		</httpProtocol>
	</system.webServer>

</configuration>