
@model CSRPulse.Model.Customer
<form data-ajax="true" data-ajax-method="POST" asp-controller="Registration" asp-action="PaymentOption" data-ajax-success="paymentSuccess">

    <input type="hidden" asp-for="CustomerId" />
    <div class="row">
        <div class="regbutton col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button type="submit" name="ButtonType" value="payment" class="btn btn-md btn-primary btn-full">PAYMENT</button>

        </div>
        <div class="regbutton col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button type="submit" name="ButtonType" value="free" class="btn btn-md btn-success btn-full">START MY FREE TRAIL</button>

        </div>
    </div>
</form>

<script type="text/javascript">
            function paymentSuccess(data) {
                debugger;
                if (data.success == true) {                   

                    window.location.href = "@Url.Action("Index", "Home")";
                    commonMessage('warning', 'Trail Version activated for the 30 day, Registration details has been sent on your Email. Please goto login page.');
                  
                 
                }
            }
</script>
