@model CSRPulse.Model.Customer


<form data-ajax="true" data-ajax-method="POST" asp-controller="Registration" asp-action="Registration" data-ajax-success="onSuccess">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label asp-for="CustomerName" class="col-form-label"></label>
        </div>
        <div class="col col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <input type="text" asp-for="CustomerName" class="form-control" />
            <span asp-validation-for="CustomerName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label asp-for="Email" class="col-form-label"></label>
        </div>
        <div class="col col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <input type="text" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label asp-for="Telephone" class="col-form-label"></label>
        </div>
        <div class="col col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <input type="text" asp-for="Telephone" class="form-control" />
            <span asp-validation-for="Telephone" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label asp-for="Website" class="col-form-label"></label>
        </div>
        <div class="col col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <input type="text" asp-for="Website" class="form-control" />
        </div>
    </div>
    @*<div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label asp-for="Country" class="col-form-label"></label>
            </div>
            <div class="col col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <select id="CompanyCountry" aria-required="true" class=custom-select>
                    <option disabled="" label="Country" selected="" value="">Country</option>
                    <option value="US">United States</option>
                    <option value="IN">India</option>
                    <option value="EH">Western Sahara</option>
                    <option value="YE">Yemen</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbabwe</option>
                </select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>*@

    @*<div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label asp-for="StateId" class="col-form-label"></label>
            </div>
            <div class="col col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <input type="text" asp-for="StateId" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label asp-for="City" class="col-form-label"></label>
            </div>
            <div class="col col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <input type="text" asp-for="City" class="form-control" />
            </div>
        </div>
        <div class="row pb-2">
            <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label asp-for="PostalCode" class="col-form-label"></label>
            </div>
            <div class="col col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <input type="text" asp-for="PostalCode" class="form-control" />
            </div>
        </div>*@

    <div class="row">

        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="checkbox" asp-for="IsAgree" />
            <label for="IsAgree">I agree to the Master Subscription Agreement</label><br />
            <span asp-validation-for="IsAgree" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span style="font-size: 12px; line-height: 1.42857143;">
                By registering, you confirm that you agree to the storing and processing of your personal data by
                Salesforce as described in the Privacy Statement.
            </span>

        </div>

    </div>
    <div class="row pb-4">
        <div class="regbutton col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button type="submit" class="btn btn-md btn-primary btn-full">START MY FREE TRAIL</button>

        </div>

    </div>
</form>

<script>
    function onSuccess(data) {
        $("#form-container").html(data.htmlData);
    }
</script>