@model CSRPulse.Model.Customer


<form data-ajax="true" data-ajax-method="POST" asp-controller="Registration" asp-action="Registration" data-ajax-success="onSuccess">

    @if (ViewBag.OTPSent != null && ViewBag.OTPSent)
    {
        <script type="text/javascript">
            otpCountDown();
        </script>
    }


    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-0">
        <label asp-for="CustomerName" class="col-form-label"></label>
        <input type="text" asp-for="CustomerName" class="form-control form-control-sm" required autocomplete="off" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group mb-0">
                <label asp-for="Email" class="col-form-label"></label>
                <input type="email" asp-for="Email" class="form-control form-control-sm" required autocomplete="off" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group mb-0">
                <label asp-for="Telephone" class="col-form-label"></label>
                <input type="tel" pattern="[0-9]{10}" asp-for="Telephone" maxlength="10" class="form-control form-control-sm" required autocomplete="off" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group mb-0">
                <label asp-for="Website" class="col-form-label"></label>
                <input type="text" asp-for="Website" class="form-control form-control-sm" autocomplete="off" />
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group mb-0">
                <label asp-for="Country" class="col-form-label"></label>
                <select asp-for="Country" aria-required="true" class="custom-select custom-select-sm">
                    <option disabled="" label="Country" selected="" value="">Country</option>
                    <option value="India">India</option>

                </select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group mb-0">
                <label asp-for="StateId" class="col-form-label"></label>
                <select asp-for="StateId" asp-items="@ViewBag.ddlState" aria-required="true" class="custom-select custom-select-sm">
                    <option disabled="" label="State" selected="" value="">Country</option>
                </select>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group mb-0">
                <label asp-for="PostalCode" class="col-form-label"></label>
                <input type="text" asp-for="PostalCode" maxlength="6" class="form-control form-control-sm" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
        </div>
    </div>



    @*<div class="form-group">

            <label asp-for="City" class="col-form-label"></label>

            <input type="text" asp-for="City" class="form-control" />

        </div>*@

    <div class="form-group mb-0">

        <label asp-for="Address" class="col-form-label"></label>

        <textarea asp-for="Address" cols="37" rows="1" class="form-control"></textarea>
        <span asp-validation-for="Address" class="text-danger"></span>

    </div>

    <div class="form-group mb-0">

        <label asp-for="Address2" class="col-form-label"></label>

        <textarea asp-for="Address2" cols="37" rows="1" draggable="false" resize class="form-control"></textarea>
        <span asp-validation-for="Address2" class="text-danger"></span>

    </div>

    <div class="form-group mb-0">
        <input type="checkbox" asp-for="IsAgree" />
        <label for="IsAgree">I agree to the Master Subscription Agreement</label><br />
        <span asp-validation-for="IsAgree" class="text-danger"></span>

    </div>

    <div class="form-group">
        <p class="mb-0" style="font-size: 12px; line-height: 1.42857143;">
            By registering, you confirm that you agree to the storing and processing of your personal data by
            CSRPulse as described in the Privacy Statement.
        </p>
    </div>

    <div class="row">
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="row d-none" id="div-otp">
                <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label asp-for="OTP" class="col-form-label">Enter OTP</label>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input type="text" asp-for="OTP" autocomplete="off" class="form-control form-control-sm" maxlength="6" minlength="6" placeholder="OTP" />
                    <span class="badge bg-info text-white" id="sp-timer"></span>
                </div>
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
            <div id="some_div" class="d-none">
                <input type="submit" value="Resend OTP" id="btnResendOtp" name="ButtonType" class="btn btn-sm btn-info"
                       title="Click here, to Resend OTP." />
            </div>
            @if (ViewBag.IsVerified == false)
            {
                <div class="form-group">
                    <button type="submit" value="verifyotp" id="btnVerifyOtp" name="ButtonType" class="btn btn-sm btn-success" title="Click here, to Verify OTP.">
                        Verify OTP
                    </button>
                </div>
            }
        </div>
    </div>

    @if (ViewBag.OTPSent == null && ViewBag.IsVerified == null)
    {
        <div class="form-group">
            <button type="submit" name="ButtonType" value="verifydtl" class="btn btn-block btn-primary btn-full">Verify Details</button>

        </div>
    }

    @if (ViewBag.VerifyOTP != null && ViewBag.VerifyOTP)
    {
        <div class="form-group">
            <button type="submit" name="ButtonType" value="submit" class="btn btn-block btn-primary">REGISTRATION</button>

        </div>
    }
</form>
<style>
    textarea {
        resize: none;
    }
</style>
<script>
    function onSuccess(data) {
        debugger;
        if (data.success == true) {
            commonMessage('success', 'Dear Customer, Your registration is successfully done, Please select payment option.');
        }
        else if (data.recordExist == true) {
            debugger;
            commonMessage('warning', 'Dear Customer, Your Email or Phone No. is already exist,please to go login page');
        }
        $("#form-container").html(data.htmlData);

    }
    $(function () {
       if ("@ViewBag.Message" != "")
            commonMessage("success", "@ViewBag.Message");

        if ("@ViewBag.IsVerified" == "true") {
            debugger;
            $("#sp-timer").attr("display", "none");
            $("#some_div").addClass("d-none");
        }
    });
</script>