@model CSRPulse.Model.Customer


<form data-ajax="true" data-ajax-method="POST" asp-controller="Registration" asp-action="Registration" data-ajax-success="onSuccess">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CustomerName" class="col-form-label"></label>
        <input type="text" asp-for="CustomerName" class="form-control" required autocomplete="off" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-form-label"></label>
        <input type="email" asp-for="Email" class="form-control" required autocomplete="off" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telephone" class="col-form-label"></label>
        <input type="tel" pattern="[0-9]{10}" asp-for="Telephone" maxlength="10" class="form-control" required autocomplete="off" />
        <span asp-validation-for="Telephone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Website" class="col-form-label"></label>
        <input type="text" asp-for="Website" class="form-control" autocomplete="off" />
    </div>
    <div class="form-group">
        <label asp-for="Country" class="col-form-label"></label>
        <select asp-for="Country" aria-required="true" class=custom-select>
            <option disabled="" label="Country" selected="" value="">Country</option>
            <option value="India">India</option>

        </select>
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>


    <div class="row">
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label asp-for="StateId" class="col-form-label"></label>
                <select asp-for="StateId" asp-items="@ViewBag.ddlState" aria-required="true" class=custom-select>
                    <option disabled="" label="State" selected="" value="">Country</option>
                </select>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label asp-for="PostalCode" class="col-form-label"></label>
                <input type="text" asp-for="PostalCode" maxlength="6" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
        </div>
    </div>



    @*<div class="form-group">

            <label asp-for="City" class="col-form-label"></label>

            <input type="text" asp-for="City" class="form-control" />

        </div>*@

<div class="form-group">

    <label asp-for="Address" class="col-form-label"></label>

    <textarea asp-for="Address" cols="37" rows="3" draggable="auto" class="form-control" ></textarea>
    <span asp-validation-for="Address" class="text-danger"></span>

</div>
    <div class="row">

        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
            <input type="checkbox" asp-for="IsAgree" />
            <label for="IsAgree">I agree to the Master Subscription Agreement</label><br />
            <span asp-validation-for="IsAgree" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="mb-0" style="font-size: 12px; line-height: 1.42857143;">
                By registering, you confirm that you agree to the storing and processing of your personal data by
                Salesforce as described in the Privacy Statement.
            </p>

        </div>

    </div>
    <div class="row">
        <div class="regbutton col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button type="submit" class="btn btn-md btn-primary btn-full">REGISTRATION</button>

        </div>

    </div>
</form>

<script>
    function onSuccess(data) {
        if (data.success == true) {
            commonMessage('success', 'Dear Customer, Your registration is successfully done, Please select payment option.')
        }
        $("#form-container").html(data.htmlData);

    }
</script>