@model CSRPulse.Model.Customer

@{
    ViewData["Title"] = "Customer Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row registor-bg">

    <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center ml-md-5 ml-lg-5">

        @await Component.InvokeAsync("Plan", new { planId = Model.PlainId })


    </div>
    <div class="col col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="card my-4">
            <div class="card-header bg-success text-white">Sign up now to start your free sales trial.</div>
            <div class="card-body py-2">
                <div id="form-container">
                    @if (Model != null && Model.CustomerId > 0)
                    {
                        { await Html.RenderPartialAsync("_PaymentOption", Model); }
                    }
                    else
                    {
                        { await Html.RenderPartialAsync("_Registration", Model); }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var elem = document.getElementById('sp-timer');
        function otpCountDown() {
            $("#sp-timer").attr("display", "block");
            $('#OTP').value = '';
            var timeleft = 300;
            var downloadTimer = setInterval(function () {
                document.getElementById("sp-timer").innerHTML = 'OTP expire in ' + timeleft + ' seconds.';
                timeleft -= 1;
                if (timeleft <= 0) {
                    clearInterval(downloadTimer);
                    document.getElementById("sp-timer").innerHTML = ""
                    $("#some_div").removeClass("d-none");
                    $('#btnVerifyOtp').addClass('d-none');
                }
            }, 1000);
        }
    </script>
}


