@inject ICustomerService customerService
@{
    ViewData["Title"] = "Management Console";
    var customerlist = await customerService.GetAllCustomerAsync();
    var activeCustomer = customerlist.Count(x => x.IsDeleted == false);
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                    <li class="breadcrumb-item active">Management</li>
                </ol>
            </div>
            <h4 class="page-title">CSRPulse Management Console</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                        <a asp-area="Admin" asp-controller="Customer" asp-action="CustomerList" class="text-muted">
                            <p class="font-15 mb-0 fw-bold">Total customer registered till date </p>
                            <p class="text-info Total customers registered till date">See more</p>
                        </a>
                        <div class="row">
                            <div class="col-6">
                                <div class="avatar-xl">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><g fill="none" fill-rule="evenodd" stroke="#232F3D" stroke-linejoin="round" stroke-width="2.5"><path d="M37.5 17.5v-6.24125c0-.695.56375-1.25875 1.25875-1.25875h29.9825C69.43625 10 70 10.56375 70 11.25875v29.9825c0 .695-.56375 1.25875-1.25875 1.25875H62.5m-20 20v6.24125c0 .695-.56375 1.25875-1.25875 1.25875h-29.9825C10.56375 70 10 69.43625 10 68.74125v-29.9825c0-.695.56375-1.25875 1.25875-1.25875H17.5"></path><path d="M26.48075 25H53.5195c.8175 0 1.48.6625 1.48 1.48125v27.0375c0 .81875-.6625 1.48125-1.48 1.48125H26.48075c-.8175 0-1.48125-.6625-1.48125-1.48125v-27.0375c0-.81875.66375-1.48125 1.48125-1.48125zM27.5 20v5m6.25-5v5M40 20v5m6.25-5v5m6.25-5v5m-25 30v5m6.25-5v5M40 55v5m6.25-5v5m6.25-5v5M20 52.5h5m-5-6.25h5M20 40h5m-5-6.25h5m-5-6.25h5m30 25h5m-5-6.25h5M55 40h5m-5-6.25h5m-5-6.25h5"></path></g></svg>
                                </div>
                            </div>
                            <div class="col-6 text-dark">
                                <h1>150</h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                        <p class="font-15 mb-0 fw-bold">Total active customer till date</p>
                        <p class="text-info Total customers registered till date">See more</p>
                        <div class="row">
                            <div class="col-6">
                                <div class="avatar-xl">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 82 80"><g fill="none" fill-rule="evenodd" stroke="#232F3D" stroke-linejoin="round" stroke-width="2"><path d="M35.654925 32.425583h9.552239v-9.597447h-9.552239zm-14.113432-.03217h9.552238v-9.531915h-9.552238zm14.107462 14.330042h9.552239v-9.597446h-9.552239zm-14.113433-.03217h9.552239V37.15937h-9.552239z"></path><path d="M57.252418 30.793362V19.301447c0-.745872-.605373-1.351149-1.35403-1.351149H10.839284c-.748657 0-1.35403.605277-1.35403 1.35115V48.75983c0 .745873.605373 1.349958 1.35403 1.349958H52.25779"></path><path d="M61.949731 30.973039V14.5424c0-.745872-1.203582-1.351149-1.951044-1.351149H6.212417c-.747462 0-1.354029.605277-1.354029 1.35115v39.028425c0 .747064.606567 1.351149 1.35403 1.351149h46.242388m-.225194 4.921469l-48.262687-.000022s-2.86806.026212-3.966567-1.71932V55.08938h6.460896"></path><path d="M57.382925 41.47423v-5.446298h22.477612v5.446298c-2.682985 0-5.073432 2.170894-5.073432 4.849362 0 2.677277 2.390447 4.849362 5.073432 4.849362v7.308595h-7.361194c.54806.785192.87403 1.736.87403 2.765447 0 2.678468-2.175522 4.849362-4.858507 4.849362-2.68418 0-4.859702-2.170894-4.859702-4.849362 0-1.029447.32597-1.980255.87403-2.765447h-7.146269v-7.308595c2.68418 0 4.859702-2.172085 4.859702-4.849362 0-2.678468-2.175522-4.849362-4.859702-4.849362zm14.156418 1.609226h-6.038209m6.203821 5.85617h-6.038209m-20.032836-9.35617h11.9403"></path></g></svg>
                                </div>
                            </div>
                            <div class="col-6 text-dark">
                                <h1>135</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                        <p class="font-15 mb-0 fw-bold">Total free trial used till date</p>
                        <p class="text-info Total customers registered till date">See more</p>

                        <div class="row">
                            <div class="col-6">
                                <div class="avatar-xl">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><defs><path id="a" d="M.490076.368875h1.239131V47.5H.490076z"></path></defs><g fill="none" fill-rule="evenodd"><g transform="translate(39.26087 22.5)"><mask id="b" fill="#fff"></mask><path stroke="#232F3D" stroke-linejoin="round" stroke-width="2.484472" d="M1.109641.368875v47.13125" mask="url(#b)"></path></g><path stroke="#232F3D" stroke-linejoin="round" stroke-width="2.484472" d="M24.756724 38.821125h6.778043v31.17875M55.917137 38.821125h-6.776804v31.17875M46.715602 16.434625c0 3.55375-2.856195 6.43375-6.377804 6.43375-3.522848 0-6.379044-2.88-6.379044-6.43375s2.856196-6.43375 6.379044-6.43375c3.521609 0 6.377804 2.88 6.377804 6.43375zM24.756724 38.821125c0 3.55375-2.854957 6.43375-6.377804 6.43375-3.522848 0-6.379044-2.88-6.379044-6.43375s2.856196-6.43375 6.379044-6.43375c3.522847 0 6.377804 2.88 6.377804 6.43375zM68.67448 38.821125c0 3.55375-2.856195 6.43375-6.377804 6.43375-3.524087 0-6.379043-2.88-6.379043-6.43375s2.854956-6.43375 6.379043-6.43375c3.521609 0 6.377804 2.88 6.377804 6.43375z"></path><path stroke="#232F3D" stroke-linejoin="round" stroke-width="2.484472" d="M19.3017 32.45875c2.109-7.08375 7.645435-12.685 14.656435-14.83625m12.642848-.035c7.065521 2.125 12.650282 7.74875 14.771673 14.86875m0 12.7275C58.656483 54.3075 50.25394 60.9725 40.337178 60.9725c-9.920478 0-18.3255-6.67125-21.037956-15.8"></path></g></svg>
                                </div>
                            </div>
                            <div class="col-6 text-dark">
                                <h1>120</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                        <a asp-area="" asp-controller="Plan" asp-action="Index" class="text-muted">
                            <p class="font-15 mb-0 fw-bold">Total Revenue till date</p>
                            <p class="text-info Total customers registered till date">See more</p>
                        </a>
                        <div class="row">
                            <div class="col-4">
                                <div class="avatar-xl">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><g fill="none" fill-rule="evenodd"><path stroke="#232F3D" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.220036" d="M49.26637 60.084919c-.972419-9.303243-4.61979-17.915676-11.494117-20.894595 6.877535-2.98054 10.524908-11.597837 11.495721-20.905946 3.01193 3.366487 9.189838 11.305946 9.189838 20.905946 0 9.090811-6.179512 17.516757-9.191442 20.894595z"></path><path fill="#EC1C24" d="M35.691021 21.503297l-.564837 1.710811-1.691303.569189 1.691303.570811.564837 1.710811.564837-1.710811 1.691302-.570811-1.691302-.569189z"></path><path stroke="#232F3D" stroke-width="1.610018" d="M35.691021 21.503297l-.564837 1.710811-1.691303.569189 1.691303.570811.564837 1.710811.564837-1.710811 1.691302-.570811-1.691302-.569189z"></path><path fill="#EC1C24" d="M64.574742 45.827622l-.564837 1.71081-1.691303.56919 1.691303.57081.564837 1.710811.564837-1.710811 1.691302-.57081-1.691302-.56919z"></path><path stroke="#232F3D" stroke-width="1.610018" d="M64.574742 45.827622l-.564837 1.71081-1.691303.56919 1.691303.57081.564837 1.710811.564837-1.710811 1.691302-.57081-1.691302-.56919z"></path><path fill="#EC1C24" d="M34.015926 51.482865l-.752582 2.28-2.256139.76054 2.256139.760541.752582 2.28.752581-2.28 2.256139-.760541-2.256139-.76054z"></path><path stroke="#232F3D" stroke-width="1.610018" d="M34.015926 51.482865l-.752582 2.28-2.256139.76054 2.256139.760541.752582 2.28.752581-2.28 2.256139-.760541-2.256139-.76054z"></path><path stroke="#232F3D" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.220036" d="M16.130484 44.347081c2.374883 13.725405 14.218814 24.162162 28.480953 24.162162 15.974303 0 28.922233-13.086486 28.922233-29.22973 0-16.143243-12.94793-29.228108-28.922233-29.228108-14.199558 0-26.001767 10.342703-28.44886 23.98054M6.00032 39.18919h3.209303m4.813954.003891h3.209302m4.813954 0h3.209302m4.808498-.003891h3.209302"></path></g></svg>
                                </div>
                            </div>
                            <div class="col-8 text-dark">
                                <h1>&#8377; 15,000</h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                        <a asp-area="" asp-controller="Plan" asp-action="Index" class="text-muted">
                            <p class="font-15 mb-0 fw-bold">Our Plans</p>
                            <p class="text-info Total customers registered till date">See more</p>
                        </a>

                        <div class="avatar-xl">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 33"><path fill="#232F3E" fill-rule="evenodd" d="M38.128 12.420486c-.387-2.938-1.968-5.065-4.314-5.751-1.662-.486-3.399-.128-4.758.909-.698-1.502-1.593-2.806-2.674-3.89-3.669-3.681-8.691-4.677-13.428-2.671-4.048 1.715-7.099 6.445-7.099 11.003 0 .212.005.426.016.64-2.238.775-5.871 2.879-5.871 8.368 0 .298.012.586.033.867.342 4.372 2.447 7.254 5.775 7.906l.384-1.963c-3.258-.639-4.008-4.095-4.165-6.098-.017-.229-.027-.467-.027-.712 0-4.597 3.168-6.142 5.111-6.657.015-.003.03-.006.044-.009.501-.112.835-.585.775-1.095-.05-.414-.075-.834-.075-1.247 0-3.741 2.582-7.765 5.878-9.161 5.71-2.42 9.757.761 11.233 2.241 1.202 1.205 2.141 2.749 2.792 4.588.123.348.429.601.795.655.361.054.731-.098.952-.395.906-1.227 2.379-1.76 3.747-1.36 1.659.485 2.753 2.176 2.939 4.534-.065.529.296 1.018.824 1.108 1.859.319 6.185 1.628 6.185 6.865 0 6.232-6.04 6.831-6.212 6.85H26l-1 1.993 12.068.004c2.813-.229 8.132-2.372 8.132-8.847 0-5.147-3.521-7.81-7.072-8.675zM19 24.945486h2v-7h-8v2h5.021l-10.746 11.311 1.45 1.378L19 21.818486v3.127zm13-6.236l-13.943 13.943-1.414-1.414 14.293-14.293H23v-2h11v10h-2v-6.236z"></path></svg>
                        </div>

                        </div>

                        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                            <a asp-area="" asp-controller="Plan" asp-action="Index" class="text-muted">
                                <p class="font-15 mb-0 fw-bold">Quick Email</p>
                                <p class="text-info Total customers registered till date">See more</p>
                            </a>
                            <div class="avatar-xl">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><g fill="none" fill-rule="evenodd" stroke="#232F3D" stroke-linejoin="round" stroke-width="2"><path d="M2.5 35.5h35v-30h-35z"></path><path d="M2.5 10.5l17.5 15 17.5-15"></path></g></svg>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
