@inject ICustomerService customerService
@{
    ViewData["Title"] = "Management Console";
    var customerlist = await customerService.GetAllCustomerAsync();
    var activeCustomer = customerlist.Count(x => x.IsDeleted == false);
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                    <li class="breadcrumb-item active">Management Console</li>
                </ol>
            </div>
            <h4 class="page-title">CSRPulse Management Console</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <a asp-area="Admin" asp-controller="Customer" asp-action="CustomerList" class="text-muted">
                            <p class="text-info font-15 mb-0 fw-bold">Total Customers <span class="badge bg-danger rounded-pill">@customerlist.Count()</span></p>
                            <p>Total customers registered till date <br /></p>
                        </a>
                        <div class="avatar-md mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><g fill="none" fill-rule="evenodd" stroke="#232F3D" stroke-linejoin="round" stroke-width="2.5"><path d="M37.5 17.5v-6.24125c0-.695.56375-1.25875 1.25875-1.25875h29.9825C69.43625 10 70 10.56375 70 11.25875v29.9825c0 .695-.56375 1.25875-1.25875 1.25875H62.5m-20 20v6.24125c0 .695-.56375 1.25875-1.25875 1.25875h-29.9825C10.56375 70 10 69.43625 10 68.74125v-29.9825c0-.695.56375-1.25875 1.25875-1.25875H17.5"></path><path d="M26.48075 25H53.5195c.8175 0 1.48.6625 1.48 1.48125v27.0375c0 .81875-.6625 1.48125-1.48 1.48125H26.48075c-.8175 0-1.48125-.6625-1.48125-1.48125v-27.0375c0-.81875.66375-1.48125 1.48125-1.48125zM27.5 20v5m6.25-5v5M40 20v5m6.25-5v5m6.25-5v5m-25 30v5m6.25-5v5M40 55v5m6.25-5v5m6.25-5v5M20 52.5h5m-5-6.25h5M20 40h5m-5-6.25h5m-5-6.25h5m30 25h5m-5-6.25h5M55 40h5m-5-6.25h5m-5-6.25h5"></path></g></svg>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <p class="text-info font-15 mb-0 fw-bold">Active Customers <span class="badge bg-success rounded-pill">@activeCustomer</span></p>
                        <p>Total active customers till date<br /></p>
                        <div class="avatar-md mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><g fill="none" fill-rule="evenodd" stroke="#232F3D" stroke-linejoin="round" stroke-width="2.727273"><path d="M21.541667 50.891227h-1.557292c-6.242708 0-11.61875-4.65-11.957292-10.731818C8.013542 39.90032 8 39.627591 8 39.341227c0-7.036363 4.726042-10.145454 8.9375-11.195454-.08125-.654546-.121875-1.322727-.121875-1.99091 0-5.768181 4.008333-12.40909 9.763542-14.768181 7.366666-3.04091 14.110416-.736364 18.538541 3.586363 2.058334 2.004546 3.561459 4.527273 4.563542 7.268182 1.394792-1.840909 3.439583-2.795454 5.484375-2.795454 3.466667 0 6.933333 2.727273 7.271875 8.495454C66.41875 28.745773 73 31.213954 73 39.436682c0 9.504545-7.596875 11.454545-12.1875 11.454545M39.145833 69.9955v-35.4m10.833334 17.291182v8.563636H39.145833"></path><path d="M39.145833 53.617818H28.3125v-5.188636m6.011146-6.053318c0 3.343636-2.69073 6.053182-6.011146 6.053182-3.320417 0-6.011146-2.709546-6.011146-6.053182 0-3.343637 2.69073-6.053182 6.011146-6.053182 3.320417 0 6.011146 2.709545 6.011146 6.053182zm9.644374 3.459c0 3.343636 2.69073 6.053181 6.011147 6.053181 3.320416 0 6.011146-2.709545 6.011146-6.053181 0-3.343637-2.69073-6.053182-6.011146-6.053182-3.320417 0-6.011146 2.709545-6.011146 6.053182zm1.18896-17.294454c0 3.342272-2.69073 6.05318-6.011147 6.05318-3.320416 0-6.011146-2.710908-6.011146-6.05318 0-3.343637 2.69073-6.053183 6.011146-6.053183 3.320417 0 6.011146 2.709546 6.011146 6.053182z"></path></g></svg>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <p class="text-info font-15 mb-0 fw-bold">Free trial used <span class="badge bg-warning rounded-pill">2</span></p>
                        <p>Total free trial used till date<br /></p>
                        <div class="avatar-md mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><g fill="none" fill-rule="evenodd"><path stroke="#232F3D" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.220036" d="M49.26637 60.084919c-.972419-9.303243-4.61979-17.915676-11.494117-20.894595 6.877535-2.98054 10.524908-11.597837 11.495721-20.905946 3.01193 3.366487 9.189838 11.305946 9.189838 20.905946 0 9.090811-6.179512 17.516757-9.191442 20.894595z"></path><path fill="#EC1C24" d="M35.691021 21.503297l-.564837 1.710811-1.691303.569189 1.691303.570811.564837 1.710811.564837-1.710811 1.691302-.570811-1.691302-.569189z"></path><path stroke="#232F3D" stroke-width="1.610018" d="M35.691021 21.503297l-.564837 1.710811-1.691303.569189 1.691303.570811.564837 1.710811.564837-1.710811 1.691302-.570811-1.691302-.569189z"></path><path fill="#EC1C24" d="M64.574742 45.827622l-.564837 1.71081-1.691303.56919 1.691303.57081.564837 1.710811.564837-1.710811 1.691302-.57081-1.691302-.56919z"></path><path stroke="#232F3D" stroke-width="1.610018" d="M64.574742 45.827622l-.564837 1.71081-1.691303.56919 1.691303.57081.564837 1.710811.564837-1.710811 1.691302-.57081-1.691302-.56919z"></path><path fill="#EC1C24" d="M34.015926 51.482865l-.752582 2.28-2.256139.76054 2.256139.760541.752582 2.28.752581-2.28 2.256139-.760541-2.256139-.76054z"></path><path stroke="#232F3D" stroke-width="1.610018" d="M34.015926 51.482865l-.752582 2.28-2.256139.76054 2.256139.760541.752582 2.28.752581-2.28 2.256139-.760541-2.256139-.76054z"></path><path stroke="#232F3D" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.220036" d="M16.130484 44.347081c2.374883 13.725405 14.218814 24.162162 28.480953 24.162162 15.974303 0 28.922233-13.086486 28.922233-29.22973 0-16.143243-12.94793-29.228108-28.922233-29.228108-14.199558 0-26.001767 10.342703-28.44886 23.98054M6.00032 39.18919h3.209303m4.813954.003891h3.209302m4.813954 0h3.209302m4.808498-.003891h3.209302"></path></g></svg>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <a asp-area="" asp-controller="Plan" asp-action="Index" class="text-muted">
                            <p class="text-info font-15 mb-0 fw-bold">Plans <span class="badge bg-secondary rounded-pill">3</span></p>
                            <p>Show all plans details<br /></p>
                        </a>
                        <div class="avatar-md mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><g fill="none" fill-rule="evenodd"><path stroke="#232F3D" stroke-linejoin="round" stroke-width="2.608696" d="M40 70s-6.585652-5.059565-14.634783-6.506087C17.317391 62.048696 10 57.710435 10 49.75913c0-7.951304 5.853913-10.844347 5.853913-17.34913 0-6.506087-5.03087-10.573044-5.03087-10.573044s7.35913-8.913913 9.067827-11.255217c2.96087 3.168261 6.520434 4.994348 10.143913 4.994348 3.658695 0 6.829565-1.47913 9.965217-5.576087 3.135652 4.096957 6.306522 5.576087 9.965217 5.576087 3.623479 0 7.183044-1.826087 10.143913-4.994348 1.708696 2.341304 9.067827 11.255217 9.067827 11.255217s-5.03087 4.066957-5.03087 10.573044C64.146087 38.914783 70 41.807826 70 49.75913c0 7.951305-7.317391 12.289566-15.365217 13.734783C46.585653 64.940435 40 70 40 70z"></path><path stroke="#232F3D" stroke-linejoin="round" stroke-width="2.608696" d="M40 62.214609c-3.178696-1.849566-7.977391-4.150435-13.48174-5.13913-2.345217-.421305-9.99652-2.193914-9.99652-7.316088 0-2.307391.81913-3.829565 2.265651-6.322174 1.59913-2.754782 3.588261-6.182608 3.588261-11.02826 0-4.38-1.468696-7.955218-3.109565-10.58087.566087-.693913 1.159565-1.42174 1.745217-2.146957 2.864348 1.582174 5.933479 2.416957 9.023479 2.416957 3.696521 0 6.997826-1.009565 9.965217-3.065217 2.967391 2.055652 6.268696 3.065217 9.965217 3.065217 3.09 0 6.15913-.834783 9.023479-2.416957.585652.725218 1.17913 1.453044 1.745217 2.146957-1.64087 2.625652-3.109565 6.20087-3.109565 10.58087 0 4.845652 1.98913 8.273478 3.58826 11.02826 1.446522 2.49261 2.265653 4.014783 2.265653 6.322174 0 5.122174-7.651305 6.894783-9.996522 7.316087-5.504348.988696-10.303043 3.289566-13.481739 5.13913z"></path><path fill="#232F3D" d="M29.053783 45.838391c1.574347.51 2.920434.764348 4.039565.764348 1.077391 0 1.903043-.243913 2.47826-.733043.573914-.48913.86087-1.193479.86087-2.115652 0-1.005653-.27-1.736088-.808695-2.19-.538696-.453914-1.417827-.679566-2.636087-.679566-.87913 0-1.977392.070435-3.296087.212609v-1.403478l.404348-6.357392h7.76087v1.74261h-5.975218l-.276522 4.31739c.78-.142174 1.48174-.213913 2.105217-.213913 1.531305 0 2.728696.404348 3.593479 1.213044.864782.807391 1.296521 1.92 1.296521 3.337826 0 1.38913-.502174 2.512174-1.50913 3.370435-1.006957.856956-2.332174 1.286087-3.975652 1.286087-1.446522 0-2.800435-.284348-4.06174-.850435v-1.70087zm16.840043-6.187435c.07174-.014347.142174-.022173.212609-.022173h.212609c1.403478 0 2.516086.379565 3.33913 1.13739.821739.759131 1.232609 1.776523 1.232609 3.052175 0 1.38913-.499566 2.497826-1.498696 3.327391-.99913.829565-2.342609 1.244348-4.02913 1.244348-1.333044 0-2.650435-.284348-3.954783-.85174v-1.699564c1.544348.51 2.863043.764347 3.954783.764347 1.076086 0 1.905652-.24 2.48739-.722608.580436-.481305.871305-1.17.871305-2.062174 0-1.715218-1.083913-2.573478-3.253043-2.573478-.68087 0-1.353913.036521-2.020435.106956v-1.403478l4.466087-4.86913h-6.293478v-1.743914h8.653043v1.68l-4.38 4.635652z"></path></g></svg>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
