@inject ICustomerService customerService
@inject IMaintenanceService maintenanceService
@using System.IO;
@{
    ViewData["Title"] = "Management Console";
    var customerlist = await customerService.GetAllCustomerAsync();
    var activeCustomer = customerlist.Count(x => x.IsDeleted == false);

    var startupPath = Directory.GetCurrentDirectory();
    var drive = startupPath.Substring(0, 1);
    DriveInfo dInfo = new DriveInfo(drive);
    var perStr = "";
    if (dInfo.IsReady)
    {
        perStr = (((dInfo.TotalFreeSpace / 1073741824) * 100) / (dInfo.TotalSize / 1073741824)).ToString() + "%";
    }

    var IsMaintenance = maintenanceService.IsUnderMaintenance();
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                    <li class="breadcrumb-item active">Management</li>
                </ol>
            </div>
            <h4 class="page-title">CSRPulse Management Console</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <p class="font-15 mb-0 fw-bold">Customers Registered</p>
                        <a asp-area="Admin" asp-controller="Customer" asp-action="CustomerList">
                            <p class="text-info">See more</p>
                        </a>
                        <div class="row">
                            <div class="col-6 text-end m-0 t-0">
                                <img src="~/images/Admin/MC/cRegistred.svg" alt="" height="50" asp-append-version="true" />
                            </div>
                            <div class="col-6 text-dark m-0 p-0 text-start">
                                <p class="display-6">150</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <p class="font-15 mb-0 fw-bold">Active Customers</p>
                        <p class="text-info">See more</p>
                        <div class="row">
                            <div class="col-6 text-end m-0 t-0">
                                <img src="~/images/Admin/MC/cActive.svg" alt="" height="50" asp-append-version="true" />
                            </div>
                            <div class="col-6 text-dark m-0 p-0 text-start">
                                <p class="display-6">135</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <p class="font-15 mb-0 fw-bold">Current Trial Subscription</p>
                        <p class="text-info">See more</p>
                        <div class="row">
                            <div class="col-6 text-end m-0 t-0">
                                <img src="~/images/Admin/MC/subscription.svg" alt="" height="55" asp-append-version="true" />
                            </div>
                            <div class="col-6 text-dark m-0 p-0 text-start">
                                <p class="display-6">120</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <p class="font-15 mb-0 fw-bold">Revenue Status</p>
                        <a asp-area="" asp-controller="Plan" asp-action="Index">
                            <p class="text-info">See more</p>
                        </a>
                        <div class="row">
                            <div class="col-6 text-end m-0 t-0">
                                <img src="~/images/Admin/MC/revenue.svg" alt="" height="50" asp-append-version="true" />
                            </div>
                            <div class="col-6 text-dark m-0 p-0 text-start">
                                <p class="display-6 text-wrap">25</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <p class="font-15 mb-0 fw-bold">Our Plans</p>
                        <a asp-area="" asp-controller="Plan" asp-action="Index">
                            <p class="text-info">Click Here</p>
                        </a>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6 m-0 t-0">
                                <img src="~/images/Admin/MC/plan.svg" alt="" height="50" asp-append-version="true" />
                            </div>
                            <div class="col-3 m-0 t-0"></div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <p class="font-15 mb-0 fw-bold">Quick Email</p>
                        <a asp-area="" asp-controller="QuickEmail" asp-action="Index">
                            <p class="text-info">Click Here</p>
                        </a>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6 m-0 t-0">
                                <img src="~/images/Admin/MC/quick_mail.svg" alt="" height="35" asp-append-version="true" />
                            </div>
                            <div class="col-3 m-0 t-0"></div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <p class="font-15 mb-0 fw-bold">Reports</p>
                        <a asp-area="" asp-controller="Report" asp-action="Index" class="text-muted">
                            <p class="text-info">See more</p>
                        </a>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6 m-0 t-0">
                                <img src="~/images/Admin/MC/reports.svg" alt="" height="50" asp-append-version="true" />
                            </div>
                            <div class="col-3 m-0 t-0"></div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <p class="font-15 mb-0 fw-bold">Manage Users</p>
                        <a asp-area="Admin" asp-controller="Registration" asp-action="Index">
                            <p class="text-info">Click Here</p>
                        </a>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6 m-0 t-0">
                                <img src="~/images/Admin/MC/mUser.svg" alt="" height="50" asp-append-version="true" />
                            </div>
                            <div class="col-3 m-0 t-0"></div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <p class="font-15 mb-0 fw-bold">Availabe Memory</p>
                        <p class="text-info Total customers registered till date">Storage</p>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6 m-0 t-0">
                                <div class="progress my-2 progress-sm">
                                    <div class="progress-bar progress-lg bg-dark" role="progressbar" style="width:@perStr" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="text-muted font-13 mb-0">@(dInfo.TotalFreeSpace / 1073741824) GB free of @(dInfo.TotalSize / 1073741824) GB @(perStr)</p>
                            </div>
                            <div class="col-3 m-0 t-0"></div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <p class="font-15 mb-0 fw-bold">Dashboard</p>
                        <a asp-area="" asp-controller="Dashboard" asp-action="Index">
                            <p class="text-info">See more</p>
                        </a>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6 m-0 t-0">
                                <img src="~/images/Admin/MC/dashboard.svg" alt="" height="50" asp-append-version="true" />
                            </div>
                            <div class="col-3 m-0 t-0"></div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <p class="font-15 mb-0 fw-bold">Tickets</p>
                        <a asp-area="" asp-controller="Ticket" asp-action="Index">
                            <p class="text-info">See more</p>
                        </a>
                        <div class="row">
                            <div class="col-6 text-end m-0 t-0">
                                <img src="~/images/Admin/MC/ticket.svg" alt="" height="50" asp-append-version="true" />
                            </div>
                            <div class="col-6 text-dark m-0 p-0 text-start">
                                <p class="display-6">5</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <p class="font-15 mb-0 fw-bold">Under Maintenance</p>
                        <a asp-area="Admin" asp-controller="Maintenance" asp-action="Index">
                            <p class="text-info">Click Here</p>
                        </a>
                        <div class="row">
                            @*<div class="col-3"></div>*@
                            <div class="col-6 text-end m-0 t-0">
                                <img src="~/images/Admin/MC/maintenance.svg" alt="" height="50" asp-append-version="true" />

                            </div>
                            <div class="col-6 text-dark m-0 p-0 text-start">
                                <p class="font-24">
                                    @if (IsMaintenance)
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
