
@{
    ViewData["Title"] = "Plan";
    Layout = "_OuterLayout";
}
<section class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="mt-0"><i class="mdi mdi-tag-multiple"></i></h1>
                    <h3>
                        Choose <span class="text-primary">Plan</span>
                    </h3>
                    <p class="text-muted mt-2">
                        <span class="h4 text-warning">
                            15-day free trial.
                        </span><br />
                        Find simple plan for comprehensive automations
                    </p>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-12 col-md-6 col-xxl-4">
                <div class="card card-pricing">
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <p class="card-pricing-plan-name fw-bold text-uppercase mb-0">Basic License </p>
                            <i class="card-pricing-icon dripicons-user text-primary"></i>
                            <h2 class="card-pricing-price">&#8377; 50,000 <span>/ Year</span></h2>
                        </div>
                        <ul>
                            <li class="mb-1"><b>Partner/NGO On-boarding</b></li>
                            <li class="mb-1"><b>Approved Proposal Repository</b></li>
                            <li class="mb-1">
                                <b> Project Management </b>
                                <ul>
                                    <li><i>Project Geographical Coverage</i></li>
                                    <li><i>Baseline collection based Geographical Coverage</i></li>
                                    <li><i>Quarterly Indicative Progress</i></li>
                                    <li><i>Quarterly Financial Progress</i></li>
                                    <li><i>Fund Request</i></li>
                                    <li><i>Fund release</i></li>
                                    <li><i>Fund Reconciliation</i></li>
                                    <li class="pt-0"><i>Monitor Co-funder Financial</i></li>
                                </ul>
                            </li>
                            <li class="mb-1 mt-4">
                                <b>Dashboard</b>
                                <ul>
                                    <li><i>Baseline</i></li>
                                    <li><i>Intervention</i></li>
                                    <li><i>Financial</i></li>
                                </ul>
                            </li>
                            <li class="mb-1"><b>Intimation & Alerts</b></li>
                            <li><b>Log Trails</b></li>
                        </ul>
                        <div class="text-center">
                            <a type="button" class="btn btn-primary mt-4 mb-2 btn-rounded" asp-controller="Registration" asp-action="Index" asp-route-pId="2">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-xxl-4">
                <div class="card card-pricing">
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <p class="card-pricing-plan-name fw-bold text-uppercase mb-0">Standard License</p>
                            <i class="card-pricing-icon dripicons-briefcase text-primary"></i>
                            <h2 class="card-pricing-price">&#8377; 75,000 <span>/ Year</span></h2>
                        </div>
                        <ul>
                            <li class="mb-1"><b>Partner/NGO On-boarding</b></li>
                            <li class="mb-1"><b>Approved Proposal Repository</b></li>
                            <li class="mb-1">
                                <b> Project Management </b>
                                <ul>
                                    <li><i>Project Geographical Coverage</i></li>
                                    <li><i>Baseline collection based Geographical Coverage</i></li>
                                    <li><i>Quarterly Indicative Progress</i></li>
                                    <li><i>Quarterly Financial Progress</i></li>
                                    <li><i>Fund Request</i></li>
                                    <li><i>Fund release</i></li>
                                    <li><i>Fund Reconciliation</i></li>
                                    <li class="pt-0"><i>Monitor Co-funder Financial</i></li>
                                </ul>
                            </li>
                            <li class="mb-1"><b>Financial Audit Compliance NGO</b></li>
                            <li class="mb-1">
                                <b>Dashboard</b>
                                <ul>
                                    <li><i>Baseline</i></li>
                                    <li><i>Intervention</i></li>
                                    <li><i>Financial</i></li>
                                </ul>
                            </li>
                            <li class="mb-1"><b>Intimation & Alerts</b></li>
                            <li><b>Log Trails</b></li>

                        </ul>
                        <div class="text-center">
                            <a type="button" class="btn btn-primary mt-4 mb-2 btn-rounded" asp-controller="Registration" asp-action="Index" asp-route-pId="2">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-xxl-4">
                <div class="card card-pricing">
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <p class="card-pricing-plan-name fw-bold text-uppercase mb-0">Professional License</p>
                            <i class="card-pricing-icon dripicons-store text-primary"></i>
                            <h2 class="card-pricing-price">&#8377; 1,20,000 <span>/ Year</span></h2>
                        </div>
                        <ul>
                            <li class="mb-1"><b>Partner/NGO On-boarding</b></li>
                            <li class="mb-1"><b>Approved Proposal Repository</b></li>
                            <li class="mb-1">
                                <b> Project Management </b>
                                <ul>
                                    <li><i>Project Geographical Coverage</i></li>
                                    <li><i>Baseline collection based Geographical Coverage</i></li>
                                    <li><i>Quarterly Indicative Progress</i></li>
                                    <li><i>Quarterly Financial Progress</i></li>
                                    <li><i>Fund Request</i></li>
                                    <li><i>Fund release</i></li>
                                    <li><i>Fund Reconciliation</i></li>
                                    <li class="pt-0"><i>Monitor Co-funder Financial</i></li>
                                </ul>
                            </li>
                            <li class="mb-1"><b>Internal Visit Report</b></li>
                            <li class="mb-1"><b>Financial Audit Compliance NGO</b></li>
                            <li class="mb-1">
                                <b>Dashboard</b>
                                <ul>
                                    <li><i>Baseline</i></li>
                                    <li><i>Intervention</i></li>
                                    <li><i>Financial</i></li>
                                </ul>
                            </li>
                            <li class="mb-1"><b>Intimation & Alerts</b></li>
                            <li><b>Log Trails</b></li>
                        </ul>
                        <div class="text-center">
                            <a type="button" class="btn btn-primary mt-4 mb-2 btn-rounded" asp-controller="Registration" asp-action="Index" asp-route-pId="3">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>




