
@{
    ViewData["Title"] = "Plan";
}

<section id="plan">
    <div class="row">
        <div class="col-sm-12 p-0 text-white plan-bg" style="height: 180px;box-shadow: 0px 4px 8px #ccc;">
            <div class="row m-0">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-center"></div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-center">
                    <h5 class="mb-0 mt-5">15-day free trial.</h5>
                    <p class="text-white mb-2">Find simple plan for comprehensive automations</p>
                </div>
            </div>

        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 m-auto">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" style="margin-top: -30px;">
                    <div class="card plan-box">
                        <div class="card-header pb-0 bg-white bb text-center"><b> BASIC </b></div>
                        <div class="card-body text-center">
                            <h5 class="text-center text-muted">
                                <i class="fa fa-rupee fa"></i> 5,000 / Year
                            </h5>
                            <a type="button" class="btn btn-outline-info" asp-controller="Registration" asp-action="Index" asp-route-pId="2">GET STARTED</a>
                            <div class="here mt-4">
                                <ul>
                                    <li>Partner/NGO On-boarding</li>
                                    <li>Approved Proposal Repository</li>
                                    <li>
                                        Project Management
                                        <ul>
                                            <li>Project Geographical Coverage</li>
                                            <li>Baseline collection based Geographical Coverage</li>
                                            <li>Quarterly Indicative Progress</li>
                                            <li>Quarterly Financial Progress</li>
                                            <li>Fund Request </li>
                                            <li>Fund release</li>
                                            <li>Fund Reconciliation</li>
                                            <li>Monitor Co-funder Financial</li>
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        Dashboard
                                        <ul>
                                            <li>Baseline</li>
                                            <li>Intervention</li>
                                            <li>Financial</li>
                                        </ul>
                                    </li>
                                    <li>Intimation & Alerts</li>
                                    <li>Log Trails</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" style="margin-top: -30px;">
                    <div class="card plan-box">
                        <div class="card-header pb-0 bg-white bb text-center"><b> STANDARD </b></div>
                        <div class="card-body text-center">
                            <h5 class="text-center text-muted">
                                <i class="fa fa-rupee fa"></i> 7,500 / Year
                            </h5>
                            <a type="button" class="btn btn-info text-white" asp-controller="Registration" asp-action="Index" asp-route-pId="2">GET STARTED</a>
                            <div class="here mt-4">
                                <ul>
                                    <li>Partner/NGO On-boarding</li>
                                    <li>Approved Proposal Repository</li>
                                    <li>
                                        Project Management
                                        <ul>
                                            <li>Project Geographical Coverage</li>
                                            <li>Baseline collection based Geographical Coverage</li>
                                            <li>Quarterly Indicative Progress</li>
                                            <li>Quarterly Financial Progress</li>
                                            <li>Fund Request </li>
                                            <li>Fund release</li>
                                            <li>Fund Reconciliation</li>
                                            <li>Monitor Co-funder Financial</li>
                                        </ul>
                                    </li>
                                    <li>Financial Audit Compliance NGO</li>
                                    <li>
                                        Dashboard
                                        <ul>
                                            <li>Baseline</li>
                                            <li>Intervention</li>
                                            <li>Financial</li>
                                        </ul>
                                    </li>
                                    <li>Intimation & Alerts</li>
                                    <li>Log Trails</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" style="margin-top: -30px;">
                    <div class="card plan-box">
                        <div class="card-header pb-0 bg-white bb text-center"><b> PROFESSIONAL </b></div>
                        <div class="card-body text-center">
                            <h5 class="text-center text-muted">
                                <i class="fa fa-rupee fa"></i> 12,500 / Year
                            </h5>
                            <a type="button" class="btn btn-outline-info" asp-controller="Registration" asp-action="Index" asp-route-pId="3">GET STARTED</a>
                            <div class="here mt-4">
                                <ul>
                                    <li>Partner/NGO On-boarding</li>
                                    <li>Approved Proposal Repository</li>
                                    <li>
                                        Project Management
                                        <ul>
                                            <li>Project Geographical Coverage</li>
                                            <li>Baseline collection based Geographical Coverage</li>
                                            <li>Quarterly Indicative Progress</li>
                                            <li>Quarterly Financial Progress</li>
                                            <li>Fund Request </li>
                                            <li>Fund release</li>
                                            <li>Fund Reconciliation</li>
                                            <li>Monitor Co-funder Financial</li>
                                        </ul>
                                    </li>
                                    <li>Internal Visit Report</li>
                                    <li>Financial Audit Compliance NGO</li>
                                    <li>
                                        Dashboard
                                        <ul>
                                            <li>Baseline</li>
                                            <li>Intervention</li>
                                            <li>Financial</li>
                                        </ul>
                                    </li>
                                    <li>Intimation & Alerts</li>
                                    <li>Log Trails</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


