@model IEnumerable<Auditor>
@{
    ViewData["Title"] = "Financial Audit/Impact Assessent Agency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Masters</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Financial Audit</a></li>
                    <li class="breadcrumb-item active">Financial Audit/Impact Assessent Agency</li>
                </ol>
            </div>
            <h4 class="page-title">Financial Audit/Impact Assessent Agency</h4>
        </div>
    </div>
</div>

<div class="row">
    @{await Html.RenderPartialAsync("_Filter");}
</div>

<div class="row" id="div-auditor-list"> </div>
<partial name="_Confirmation" />

@section Scripts{
    <script type="text/javascript">
        function openpopup(cnt) {
            var id = cnt.id.split('_')[1];
            $('.btnconfirm').attr('id', id + '_' + cnt.checked);

        }
        function ActiveDeActive(obj) {
            debugger;
            var id = obj.id.split('_')[0];
            var isChecked = obj.id.split('_')[1];
            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: '/Auditor/ActiveDeActive',
                data: { id: id, isChecked: isChecked },
                success: function (responce) {
                    if (responce) {
                        commonMessage('success', 'Status changed successfully.');
                    }

                    else {
                        commonMessage('warning', 'Status changing failed.');
                    }
                },
                error: function (responce) {
                    commonMessage('error', 'Status changing failed.');
                }
            });
        }
    </script>
}