@model CSRPulse.Model.EmailConfiguration
@{
    ViewData["Title"] = "EmailConfiguration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Masters</a></li>
                    <li class="breadcrumb-item active">EmailConfiguration</li>
                </ol>
            </div>
            <h4 class="page-title">Edit EmailConfiguration</h4>
        </div>
    </div>
    <div class="col">
        <div class="alert alert-secondary" role="alert">
            <strong><i class="dripicons-information me-1"></i>Note - </strong> Fields marked with <b>(<span class="text-danger">*</span>)</b> are compulsory fields.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="post" asp-controller="EmailConfiguration" asp-action="Edit">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="EmailConfigurationID" />
                    <div class="row">
                        <div class="col-xxl-6 col-xl-6 col-lg-8 col-md-8 col-sm-12 col-12">
                            <div class="mb-3">
                                <label asp-for="ToEmail" class="form-label required"></label>
                                <input type="text" id="txttoemail" asp-for="ToEmail" class="form-control" maxlength="50" placeholder="Enter Email Id (max 50 characters)" autocomplete="off">
                                <span asp-validation-for="ToEmail" class="invalid"></span>
                            </div>

                            <div class="mb-3" style="display:none">
                                <label asp-for="Bcc"></label>
                                <input type="text" asp-for="Bcc" class="form-control" maxlength="50" placeholder="Enter Block Name (max 50 characters)" autocomplete="off">
                                <span asp-validation-for="Bcc" class="invalid"></span>
                            </div>
                            <div class="mb-3" style="display:none">
                                <label asp-for="CcEmail" class="form-label required"></label>
                                <input type="text" asp-for="CcEmail" class="form-control" maxlength="50" placeholder="Enter Block Name (max 50 characters)" autocomplete="off">
                                <span asp-validation-for="CcEmail" class="invalid"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="UserName" class="form-label required"></label>
                                <input type="text" asp-for="UserName" class="form-control" maxlength="50" placeholder="Enter UserName (max 50 characters)" autocomplete="off">
                                <span asp-validation-for="UserName" class="invalid"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Password" class="form-label required"></label>
                                <div class="input-group input-group-merge">
                                    <input type="password" value="@Model.Password" id="txtpassword" asp-for="Password" class="form-control" maxlength="100" placeholder="Enter Password(max 100 characters)"
                                           autocomplete="off">
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye" id="togglePassword"></span>
                                    </div>
                                </div>

                                <span asp-validation-for="Password" class="invalid"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Server" class="form-label required"></label>
                                 <input type="text" asp-for="Server" class="form-control" maxlength="50" placeholder="Enter Server (max 50 characters)" autocomplete="off">
                                    <span asp-validation-for="Server" class="invalid"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Port" class="form-label required"></label>
                                    <input type="text" asp-for="Port" class="form-control" maxlength="4" placeholder="Enter Port (max 4)" autocomplete="off">
                                    <span asp-validation-for="Port" class="invalid"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Signature"></label>
                                    <input type="text" asp-for="Signature" class="form-control" maxlength="50" placeholder="Enter Signature (max 4 characters)" autocomplete="off">
                                    <span asp-validation-for="Signature" class="invalid"></span>
                                </div>
                                  <div class="mb-2 text-end">
                                    <a asp-area="" asp-controller="EmailConfiguration" asp-action="Index" class="btn btn-light btn-sm"><i class="dripicons-reply m-1"></i> Back to list </a>
                                    <button class="btn btn-primary btn-sm" type="submit"><i class="mdi mdi-file-document-edit m-1"></i> Update </button>
                                </div>
                            </div>

                    </div> <!-- end card -->
                </form>
            </div> <!-- end card body-->
        </div>
    </div>
</div>
