@model UserRight

<div class="card bg-transparent">
    <div class="card-body">
        <form data-ajax="true" data-ajax-method="GET" data-ajax-update="#div-Role-AccessRights" data-ajax-mode="replace" asp-action="GetRoleAccessRights" asp-controller="RoleAccessRights">            

            <div class="row">
                <div class="col-md-2 col-form-label">
                    <i class="mdi mdi-filter"></i> <label>Filter By :</label>
                </div>
                <label asp-for="RoleId" class="col-md-1 col-form-label">Role Name</label>
                <div class="col-md-4">
                    <select asp-for="RoleId" asp-items="@ViewBag.ddlRole" aria-required="true" class="form-select">
                        <option disabled="" label="Select Role" selected="" value="">Select Role</option>
                    </select>
                    <span asp-validation-for="RoleId" class="invalid"></span>
                </div>
                <div class="col-md-5 text-end">
                    <button type="submit" value="Search" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to get role access" class="btn btn-warning btn-sm rounded-pill text-white">
                        <i class="dripicons-search me-2"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>




