
<form data-ajax="true" data-ajax-method="post" asp-controller="Block" asp-action="_ImportBlockData" enctype="multipart/form-data" data-ajax-success="onsuccess">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-1 mt-2">

        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-1 col-sm-12 col-xs-12 required mt-2">
                Select File
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="input-group image-preview">

                    <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                    <span class="input-group-btn">
                        <!-- image-preview-clear button -->
                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                            <span class="glyphicon glyphicon-remove"></span> Clear
                        </button>
                        <!-- image-preview-input -->
                        <span class="btn btn-default image-preview-input">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="image-preview-input-title">Browse</span>
                            @Html.TextBox("file", "", new { type = "file", @class = "", @name = "input-file-preview" })
                        </span>
                    </span>
                </div>

                <div>
                    @Html.ValidationMessage("FileRequired", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">

                <button type="submit" id="submitform" class="btn btn-success pull-center"
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Click here, to validate your file.">
                    <i class="dripicons-checkmark me-1"></i>
                    Validate Data
                </button>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <button type="button" id="btnSave" class="btn btn-info pull-center d-none"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to upload manual sheet data.">
                    <i class="dripicons-cloud-upload me-1"></i>
                    Import Data
                </button>
            </div>
        </div>
    </div>
</form>








