@model CSRPulse.Model.Block
@{
    ViewData["Title"] = "Add New Block";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Masters</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Locations</a></li>
                    <li class="breadcrumb-item active">Village</li>
                </ol>
            </div>
            <h4 class="page-title">Block</h4>
        </div>
    </div>
    <div class="col">
        <partial name="_NoteFieldsMark" />
    </div>
</div>



<div class="card">
    <div class="card-body">
        <form method="post" asp-controller="Block" asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                    <div class="mb-3">
                        <label asp-for="StateId" class="form-label required"></label>
                        <select asp-for="StateId" asp-items="@ViewBag.ddlState" aria-required="true" class="form-select">
                            <option disabled="" label="Select State" selected="" value=""></option>
                        </select>
                        <span asp-validation-for="StateId" class="invalid"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="DistrictId" class="form-label required"></label>
                        <select asp-for="DistrictId" asp-items="@(new SelectList(string.Empty,"id","value"))" aria-required="true" class="form-select">
                            <option disabled="" label="Select District" selected="" value=""></option>
                        </select>
                        <span asp-validation-for="DistrictId" class="invalid"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="BlockName" class="form-label required"></label>
                        <input type="text" asp-for="BlockName" class="form-control" maxlength="50" placeholder="Enter Block Name (max 50 characters)" autocomplete="off">
                        <span asp-validation-for="BlockName" class="invalid"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="BlockCode" class="form-label required"></label>
                        <input type="text" asp-for="BlockCode" onkeypress="return onlyNumber(event)" class="form-control" maxlength="5" placeholder="Enter Block Code (5 digits number)" autocomplete="off">
                        <span asp-validation-for="BlockCode" class="invalid"></span>
                    </div>
                    <div class="mb-2 text-end">
                        <a asp-area="" asp-controller="Block" asp-action="Index" class="btn btn-light btn-sm"><i class="dripicons-reply m-1"></i> Back to list </a>
                        <button class="btn btn-primary btn-sm" type="submit"><i class="mdi mdi-file-document m-1"></i> Save </button>
                    </div>
                </div>

            </div> <!-- end card -->
        </form>
    </div> <!-- end card body-->
</div>
@section Scripts{
    <script src="~/scripts/Block.js" asp-append-version="true"></script>
}
