@model CSRPulse.Model.Block
@{
    ViewData["Title"] = "Edit Block";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">Block</li>
                    <li class="breadcrumb-item active">Edit Block</li>
                </ol>
            </div>
            <h4 class="page-title">Edit Block</h4>
        </div>
    </div>
</div>



<div class="card">
    <div class="card-body">
        <form method="post" asp-controller="Block" asp-action="Edit">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BlockId" />
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="mb-3">
                        <label asp-for="StateId" for="MobileNo" class="form-label"></label>
                        <select asp-for="StateId" asp-items="@ViewBag.ddlState" onchange="BindDistrict(this)" aria-required="true" class="form-select">
                            <option disabled="" label="State" selected="" value="">State</option>
                        </select>
                        <span asp-validation-for="StateId" class="invalid"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="DistrictId" for="MobileNo" class="form-label"></label>
                        <select asp-for="DistrictId" asp-items="@ViewBag.ddlDistrict" aria-required="true" class="form-select">
                            <option disabled="" label="District" selected="" value="">District</option>
                        </select>
                        <span asp-validation-for="DistrictId" class="invalid"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="BlockName" for="MobileNo" class="form-label"></label>
                        <input type="text" asp-for="BlockName" class="form-control" maxlength="100" placeholder="Enter Block (max 50 characters)" autocomplete="off">
                        <span asp-validation-for="BlockName" class="invalid"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="BlockCode" for="BlockCode" class="form-label"></label>
                        <input type="text" asp-for="BlockCode" class="form-control" maxlength="2" placeholder="Enter block code (max 2 characters)" autocomplete="off">
                        <span asp-validation-for="BlockCode" class="invalid"></span>
                    </div>

                    <div class="mb-2 text-end">
                        <button class="btn btn-primary rounded-pill" type="submit"><i class="mdi mdi-file-document-edit"></i> Update </button>
                    </div>
                </div>

            </div> <!-- end card -->
        </form>
    </div> <!-- end card body-->
</div>
<script>
        function BindDistrict(e) {
            if ($("#StateId").val() != "") {
                var StateId = 0;
                StateId = $("#StateId").val();

                $("#DistrictId").html("");
                $("#DistrictId").append($("<option disabled selected></option>").val("").html("District"));

                if (StateId > 0) {
                jQuery.post("@Url.Action("BindDistrict", "Block")", {
                    StateId: StateId
                }).done(function (data) {
                    debugger;
                    if (data != "") {
           
                        $.each(data, function (key, value) {
                            $("#DistrictId").append($("<option></option>").val(value.value).html(value.text));
                        });
                    }
                });
            } 
        }
    }
</script>