@model CSRPulse.Model.ChangePassword

<p class="text-muted mb-3">Provide the below details to change password.</p>
<p class="mb-3 font-11 text-warning">Password must contain at least 8 characters, including UPPER, lower, symbols and numbers</p>

<form method="post" asp-area="Admin" asp-controller="Account" asp-action="ChangePassword">
    @Html.AntiForgeryToken()
    <div class="mb-1"><div asp-validation-summary="ModelOnly" class="text-danger"></div></div>
    <input type="hidden" asp-for="hdOldPassword" />
    <input type="hidden" asp-for="hdPassword" />
    <input type="hidden" asp-for="hdConfirmPassword" />
    <div class="mb-3">
        @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "form-label", @for = "OldPassword" })
        <input type="password" asp-for="OldPassword" class="form-control" placeholder="Enter old password" autocomplete="off">
        <span asp-validation-for="OldPassword" class="invalid"></span>
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label", @for = "Password" })
        <input type="password" asp-for="Password" onkeyup="return CheckPasswordStrength();" class="form-control" placeholder="Enter new password" autocomplete="off">
        <p id="strength"></p>
        <span asp-validation-for="Password" class="invalid"></span>
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-label", @for = "ConfirmPassword" })
        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Enter confirm password" autocomplete="off">
        <span asp-validation-for="ConfirmPassword" class="invalid"></span>
    </div>

    <div class="d-grid mb-0 text-center">
        <button type="submit" name="ButtonType" onclick="SubmitEncry();" class="btn btn-primary" value="Reset" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to change password."><i class="mdi mdi-lock-reset"></i> Change Password </button>
    </div>
</form>
