@model CSRPulse.Model.SingIn

<form method="post" asp-area="Admin">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "form-label", @for = "UserName" })
        <input type="text" asp-for="UserName" class="form-control" placeholder="Enter user name" required="" autocomplete="off">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label", @for = "Password" })
        <input type="password" asp-for="Password" class="form-control" placeholder="Enter password" required="" autocomplete="off">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <dnt-captcha asp-captcha-generator-max="999999"
                     asp-captcha-generator-min="111111"
                     asp-captcha-generator-language="English"
                     asp-captcha-generator-display-mode="ShowDigits"
                     asp-use-relative-urls="true"
                     asp-placeholder="Enter Captcha"
                     asp-validation-error-message="Please enter the Captcha."
                     asp-font-name="Tahoma"
                     asp-font-size="20"
                     asp-fore-color="#333333"
                     asp-back-color="#ccc"
                     asp-text-box-class="text-box form-control"
                     asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span></span>{0}"
                     asp-validation-message-class="text-danger"
                     asp-refresh-button-class="btn-lg dripicons-clockwise"
                     asp-use-noise="false" />
    </div>

    <div class="d-grid mb-0 text-center">
        <button type="submit" name="ButtonName" class="btn btn-primary" value="LogIn"><i class="mdi mdi-login"></i> Log In </button>
    </div>
</form>
