
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h4 class="mt-0">Change Password</h4>
<div id="div-container">
    @{ await Html.RenderPartialAsync("_ChangePassword"); }
    <footer class="footer footer-alt">       
        <p class="text-body">Return to <a href='javascript:history.go(-1)' class="text-body ms-1"><b> Back</b></a></p>
    </footer>
</div>
@section scripts{
    <script type="text/javascript">
        function SubmitEncry() {
            var txtOldPassword = $('#OldPassword').val();
            var txtpassword = $('#Password').val();
            var txtConfirmPassword = $('#ConfirmPassword').val();

            if (txtConfirmPassword == '' || txtpassword == '' || txtOldPassword=='') {
                return;
            }
            else {
                $('#OldPassword').val('');
                $('#hdOldPassword').val('');

                $('#Password').val('');
                $('#hdPassword').val('');
                $('#ConfirmPassword').val('');
                $('#hdConfirmPassword').val('');
                var key = CryptoJS.enc.Utf8.parse('8080808080808080');
                var iv = CryptoJS.enc.Utf8.parse('8080808080808080');
                var encryptedcpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(txtConfirmPassword), key,
                    {
                        keySize: 128 / 8,
                        iv: iv,
                        mode: CryptoJS.mode.CBC,
                        padding: CryptoJS.pad.Pkcs7
                    });
                $('#hdConfirmPassword').val(encryptedcpassword);
                $('#ConfirmPassword').val(encryptedcpassword);
                var encryptedpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(txtpassword), key,
                    {
                        keySize: 128 / 8,
                        iv: iv,
                        mode: CryptoJS.mode.CBC,
                        padding: CryptoJS.pad.Pkcs7
                    });
                $('#hdPassword').val(encryptedpassword);
                $('#Password').val(encryptedpassword);

                var encryptedoldpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(txtOldPassword), key,
                    {
                        keySize: 128 / 8,
                        iv: iv,
                        mode: CryptoJS.mode.CBC,
                        padding: CryptoJS.pad.Pkcs7
                    });
                $('#hdOldPassword').val(encryptedoldpassword);
                $('#OldPassword').val(encryptedoldpassword);
            }
        }
    </script>
}
