@model CSRPulse.Model.ForgotPassword
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<h4 class="mt-0">Forgot Password</h4>
<div id="div-container">
    @{ await Html.RenderPartialAsync("_Forgot"); }
    <footer class="footer footer-alt">
        <p class="text-body">Back to <a asp-action="Login" asp-controller="Account" asp-area="Admin" class="text-body ms-1"><b>Log In</b></a></p>
    </footer>
</div>
@section Scripts{
    <script type="text/javascript">
        var elem = $('#sp-timer')
        function otpCountDown() {
            $("#sp-timer").attr("display", "block");
            $('#OTP').value = '';
            var timeleft = 120;
            var downloadTimer = setInterval(function () {
                document.getElementById("sp-timer").innerHTML = 'OTP expire in ' + timeleft + ' seconds.';
                timeleft -= 1;
                if (timeleft <= 0) {
                    clearInterval(downloadTimer);
                    document.getElementById("sp-timer").innerHTML = ""
                    $("#some_div").removeClass("d-none");
                    $('#btnVerifyOtp').addClass('d-none');
                    $('#divOTP').addClass('d-none');                  
                }
            }, 1000);
        }
    </script>
}
