@model CSRPulse.Model.SingIn
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var logoutAlert = TempData["logoutAlert"] == null ? "" : TempData["logoutAlert"].ToString();
}

<h4 class="mt-4">Sign In</h4>
<p class="mb-4">Enter your User name and password to access account.</p>
@{
    await Html.RenderPartialAsync("_CustomerLogin", Model);
}

<footer class="footer footer-alt">
    <p class="text-body"><a asp-action="ForgotPassword" asp-controller="Account" class="text-body ms-1"><b>Forgot Password?</b></a></p>
</footer>

<partial name="_LogoutAlert" />

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@logoutAlert' != '') {
             $("#logoutAlert-modal").modal("show");
            }
        });

        function SubmitEncry() {
            var txtUserName = $('#UserName').val();
            var txtpassword = $('#Password').val();

            if (txtUserName == '' || txtpassword == '') {
                return;
            }
            var key = CryptoJS.enc.Utf8.parse('8080808080808080');
            var iv = CryptoJS.enc.Utf8.parse('8080808080808080');
            var encryptedlogin = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(txtUserName), key,
                {
                    keySize: 128 / 8,
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });
            $('#hdUserName').val(encryptedlogin);
            var encryptedpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(txtpassword), key,
                {
                    keySize: 128 / 8,
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });
            $('#hdPassword').val(encryptedpassword);
            $('#Password').val(encryptedpassword);
        }

    </script>
}


