@model CSRPulse.Model.District
@{
    ViewData["Title"] = "Edit District";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Masters</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Locations</a></li>
                    <li class="breadcrumb-item active">Edit District</li>
                </ol>
            </div>
            <h4 class="page-title">Edit District</h4>
        </div>
    </div>
    <div class="col">
        <partial name="_NoteFieldsMark" />
    </div>
</div>



<div class="card">
    <div class="card-body">
        <form method="post" asp-controller="District" asp-action="Edit">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DistrictId" />
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="mb-3">
                        <label asp-for="StateId" class="form-label required"></label>
                        <select asp-for="StateId" asp-items="@ViewBag.ddlState" aria-required="true" class="form-select">
                            <option disabled="" label="State" selected="" value="">State</option>
                        </select>
                        <span asp-validation-for="StateId" class="invalid"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="DistrictName" class="form-label required"></label>
                        <input type="text" asp-for="DistrictName" class="form-control" maxlength="100" placeholder="Enter District Name (max 50 characters)" autocomplete="off">
                        <span asp-validation-for="DistrictName" class="invalid"></span>
                    </div>


                    <div class="mb-3">
                        <label asp-for="DistrictShort" for="UserName" class="form-label"></label>
                        <input type="text" asp-for="DistrictShort" class="form-control" maxlength="4" placeholder="Enter Short Name (max 10 characters)" autocomplete="off">
                        <span asp-validation-for="DistrictShort" class="invalid"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="DistrictCode" class="form-label required"></label>
                        <input type="text" asp-for="DistrictCode" onkeypress="return onlyNumber(event)" class="form-control" maxlength="3" placeholder="Enter District Code (max 3 digits number)" autocomplete="off">
                        <span asp-validation-for="DistrictCode" class="invalid"></span>
                    </div>

                    <div class="mb-2 text-end">
                        <a asp-area="" asp-controller="District" asp-action="Index" class="btn btn-light btn-sm"><i class="dripicons-reply m-1"></i> Back to list </a>
                        <button class="btn btn-primary btn-sm" type="submit"><i class="mdi mdi-file-document-edit m-1"></i> Update </button>
                    </div>
                </div>

            </div> <!-- end card -->
        </form>
    </div> <!-- end card body-->
</div>