@model CSRPulse.Model.SingIn


    <form data-ajax="true" data-ajax-method="GET" asp-action="CustomerLogin" asp-controller="Account" data-ajax-success="onSuccess">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CompanyID" />
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyID, htmlAttributes: new { @class = "control-label", @for = "CompanyID" })
            <input type="text" asp-for="CompanyID" class="form-control" placeholder="Enter Company ID" />
            <span asp-validation-for="CompanyID" class="text-danger"></span>
        </div>
        <button type="submit" name="ButtonName" value="verify" class="btn btn-primary btn-block mb-2">VERIFY</button>
        
    </form>
