@model CSRPulse.Model.CustomerSignIn


<form asp-action="CustomerLogin" asp-controller="Account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CompanyID" />
    <div class="form-group">
        @Html.LabelFor(model => model.CompanyID, htmlAttributes: new { @class = "control-label", @for = "CompanyID" })
        <input type="text" asp-for="CompanyID" class="form-control" disabled="disabled"  />
       
    </div>  
    <div id="div-user-dtl">
        <div class="form-group">
            <label for="UserName" class="control-label">Username</label>
            <input type="text" asp-for="UserName" class="form-control" placeholder="Enter username" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Password" class="control-label">Password</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Enter password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" name="ButtonName" value="LogIn" class="btn btn-primary btn-block mb-2">Log In</button>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)

            </label>
        </div>
        <div class="form-group">
            <a asp-action="ForgotPassword" asp-controller="Account">Forgot Your Password?</a>

        </div>
    </div>
</form>