@model CSRPulse.Model.CustomerSignIn
@{

    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h4 class="mt-0">Sign In</h4>

<div id="div-form-container">
    @{
        if (Model != null)
        {
            await Html.RenderPartialAsync("_CustomerLogin", Model);
        }
        else
        {

            await Html.RenderPartialAsync("_Authenticate", Model);
        }
    }
</div>


