@model CSRPulse.Model.ForgotPassword
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<h4 class="mt-0">Forgot Password</h4>
@if (Model != null && Model.CompanyID != null)
{
   {  await Html.RenderPartialAsync("_Forgot");  }
}