@model CSRPulse.Model.User
@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">Users</li>
                    <li class="breadcrumb-item active">Edit User</li>
                </ol>
            </div>
            <h4 class="page-title">Edit User</h4>
        </div>
    </div>
</div>



<div class="card">
    <div class="card-body">
        <form method="post" asp-area="Customer" asp-controller="User" asp-action="Edit" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="UserID" />
            <input type="hidden" asp-for="UserName" />
            <div class="row">
                <div class="col-xl-4 text-center">
                    <img id="myImg" src="~/assets/images/users/@Model.ImageName" asp-append-version="true" alt="Profile" class="rounded-circle avatar-xl img-thumbnail" title="Click to select image" style="cursor:pointer" />
                    <i style="margin-left:-25px; vertical-align:bottom; font-size:24px;" class="uil-camera-change text-muted"></i>
                    @*<input id="UserImg" title="Upload image" type="file" name="UserImg" accept=".png,.jpg,.jpeg" style="display: none" />*@
                    <input asp-for="ImagePhoto" style="display:none">
                    @*<button id="btnCP" type="button" class="btn btn-outline-success rounded-pill btn-sm mb-3"><i class="uil-camera-change"></i> Change picture</button>*@
                    <div asp-validation-summary="ModelOnly" class="text-start invalid"></div>
                    <div class="mb-3 mt-5 text-start">
                        <label asp-for="FullName" for="FullName" class="form-label">Full Name</label>

                        <input type="text" asp-for="FullName" class="form-control" maxlength="50" placeholder="Enter full name (max 50 characters)" autocomplete="off">

                        <span asp-validation-for="FullName" class="invalid"></span>
                    </div>
                    <div class="text-start mb-3">
                        <label asp-for="EmailID" for="EmailID" class="form-label">Email ID</label>
                        <input type="text" asp-for="EmailID" class="form-control" required placeholder="Enter email id (max 50 characters)" autocomplete="off">
                        <span asp-validation-for="EmailID" class="invalid"></span>
                    </div>

                </div> <!-- end card-body -->
                <div class="col-1">
                </div>
                <div class="col-xl-5">
                    <div class="mb-3">
                        <label asp-for="MobileNo" for="MobileNo" class="form-label">Mobile No.</label>
                        <input type="text" asp-for="MobileNo" class="form-control" maxlength="10" pattern="[0-9]{10}" placeholder="Enter mobile number (max 10 characters)" autocomplete="off">
                        <span asp-validation-for="MobileNo" class="invalid"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="RoleId" for="RoleId" class="form-label">Role</label>
                        <select asp-for="RoleId" asp-items="@ViewBag.ddlRole" aria-required="true" class="form-select">
                            <option disabled="" label="Role" selected="" value="">Role</option>
                        </select>
                        <span asp-validation-for="RoleId" class="invalid"></span>
                    </div>                 
                    <div class="mb-3">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label", @for = "Password" })
                        <div class="input-group input-group-merge">
                            <input type="password" asp-for="Password" class="form-control" placeholder="Enter password" autocomplete="off">
                            <div class="input-group-text" data-password="false">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                        <span class="font-11 text-muted">Password must contain at least 8 characters, including UPPER/lowercase, special and numbers</span>
                        <br />
                        <span asp-validation-for="Password" class="invalid"></span>
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-label", @for = "ConfirmPassword" })
                        <div class="input-group input-group-merge">
                            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Enter Confirm password" autocomplete="off">
                            <div class="input-group-text" data-password="false">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                        <br />
                        <span asp-validation-for="ConfirmPassword" class="invalid"></span>
                    </div>
                    <div class="mb-2 text-end">
                        <button class="btn btn-primary rounded-pill" type="submit"><i class="mdi mdi-account-edit"></i> Update </button>
                    </div>
                </div>

            </div> <!-- end card -->
        </form>
    </div> <!-- end card body-->
</div>

@section Scripts {
    <script type="text/javascript">
        $("#myImg").click(function () {
            $("#ImagePhoto").trigger('click');
        });

        $(function () {
            $(":file").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });

        function imageIsLoaded(e) {
            $('#myImg').attr('src', e.target.result);
        };
    </script>
}
