@font-face {
    font-family: helvetica;
    src: url(../fonts/Helvetica.ttf);
}
@font-face {
    font-family: helvetica-bold;
    src: url(../fonts/Helvetica-Bold.ttf);
}
@font-face {
    font-family: roboto-reg;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}
html {
    font-family: "roboto-light", roboto-reg, roboto-bold, helvetica , helvetica-bold;
}
body {
    font-family: "roboto-light", roboto-reg, roboto-bold, helvetica , helvetica-bold;
}
.main-contents{
    float: left;
    width: 100%;
    min-height: calc(80vh - 33px);
    position: relative;
    z-index: 1;
    /*background-color: #E5E5E5;*/
    padding: 15px;
    margin-bottom: 33px;
}
#footer-wrap{
    position: fixed;
    bottom: 0px;
    width:100%;
    line-height:40px;
}
@media (max-width:767px){
    #footer-wrap {
        position: relative;
        bottom: 0px;
        width: 100%
    }
    .main-contents {
        padding:5px;
        margin-bottom: 0px;
    }
}
.foot-bottom-ul{
    float: left;
    width: 100%;
    height: auto;
}
.foot-bottom-ul ul{
    float: left;
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.foot-bottom-ul ul li{
    float: left;
    width: auto;
    height: auto;
}
.foot-bottom-ul ul li a{
    float: left;
    width: auto;
    height: auto;
    padding: 0px 12px;
    color: #007bff;
}
.foot-bottom-ul ul li a:hover{
    color: #c0dcfa;
    text-decoration: none;
}