
.required:after {
    content: " *";
    color: #dc3545;
}

textarea {
    resize: none;
}

.text-start {
    text-align: left !important;
}

.invalid {   
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.75rem;
    color: #fa6767;
}