@model CSRPulse.Model.Plan

<div class="container">
    <div class="row pt-0">
        <div class="col-md-12">
            <div class="card card-pricing">
                <div class="card-body text-center">
                    <p class="fw-bold text-uppercase">@Model.PlanName</p>
                    <i class="card-pricing-icon dripicons-store text-primary"></i>
                    <h3>&#8377; @Model.PlanDetail </h3>
                    <ul class="card-pricing-features text-start">
                        <li class="text-success pt-0"><b>Partner/NGO On-boarding</b></li>
                        <li class="text-success pt-0"><b>Approved Proposal Repository</b></li>
                        <li class="text-success pt-0">
                            <b>Project Management</b>
                            <ul class="card-pricing-features">
                                <li class="pt-0"><i>Project Geographical Coverage</i></li>
                                <li class="pt-0"><i>Baseline collection based Geographical Coverage</i></li>
                                <li class="pt-0"><i>Quarterly Indicative Progress</i></li>
                                <li class="pt-0"><i>Quarterly Financial Progress</i></li>
                                <li class="pt-0"><i>Fund Request </i></li>
                                <li class="pt-0"><i>Fund release</i></li>
                                <li class="pt-0"><i>Fund Reconciliation</i></li>
                                <li class="pt-0"><i>Monitor Co-funder Financial</i></li>
                            </ul>
                        </li>
                        <li class="text-success pt-0"><b>Internal Visit Report</b></li>
                        <li class="text-success pt-0"><b>Financial Audit Compliance NGO</b></li>
                        <li class="text-success p-0">
                            <b> Dashboard</b>
                            <ul class="card-pricing-features">
                                <li class="p-0"><i>Baseline</i></li>
                                <li class="p-0"><i>Intervention</i></li>
                                <li class="p-0"><i>Financial</i></li>
                            </ul>
                        </li>
                        <li class="text-success p-0"><b>Intimation & Alerts</b></li>
                        <li class="text-success p-0"><b>Log Trails</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

