@model CSRPulse.Model.Plan

    <div class="card border-0 my-4 bg-transparent">
      
            <div class="pb-0 bb text-center text-uppercase"><b>Plan - @Model.PlanName </b></div>
            <div class="card-body text-center">
                <h5 class="text-center text-muted">
                    <i class="fa fa-rupee fa"></i> @Model.PlanDetail
                </h5>             
                <div class="here mt-4">
                    <ul>
                        <li>Partner/NGO On-boarding</li>
                        <li>Approved Proposal Repository</li>
                        <li>
                            Project Management
                            <ul>
                                <li>Project Geographical Coverage</li>
                                <li>Baseline collection based Geographical Coverage</li>
                                <li>Quarterly Indicative Progress</li>
                                <li>Quarterly Financial Progress</li>
                                <li>Fund Request </li>
                                <li>Fund release</li>
                                <li>Fund Reconciliation</li>
                                <li>Monitor Co-funder Financial</li>
                            </ul>
                        </li>

                        <li>
                            Dashboard
                            <ul>
                                <li>Baseline</li>
                                <li>Intervention</li>
                                <li>Financial</li>
                            </ul>
                        </li>
                        <li>Intimation & Alerts</li>
                        <li>Log Trails</li>
                    </ul>
                </div>
            </div>
        </div>
   