<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Axis Bank CSR</title>
</head>
<body>

    <table align="center" width="600" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ae275f">
        <tbody>
            <tr>
                <td align="center" valign="top" width="600" height="100" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000000"><img src="https://cprompt.in/Images/axiscrmHeader.png" alt="Axis Bank CSR" width="600" height="55" style="display:block"></td>
            </tr>
            <tr>
                <td align="center" valign="bottom">&nbsp;</td>
            </tr>
            <tr>
                <td align="center" valign="top">
                    <table width="570" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#000000">Dear {$fullName},</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#000000">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#000000">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#000000">
                                    <strong style="color: #ae275f"> Welcome!</strong> to your new Axis Bank CSR account.
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#000000">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#000000">Your new Axis Bank CSR account has been created, you can access your account at by using the given below credentials.</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#000000">&nbsp;</td>
                            </tr>
                           
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#000000"><strong>User Name: </strong> {$userName}</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#000000"><strong>Password: </strong> {$password}</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#000000">&nbsp;</td>
                            </tr>

                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#000000">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#000000">Regards,</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#000000">&nbsp;</td>
                            </tr>                           
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#000000">{$signature}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle">&nbsp;</td>
            </tr>

            <tr>
                <td align="center" valign="top">
                    <table width="570" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td height="20" colspan="2" align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#ae275f"><strong>For any problem please contact us at <a href="mailto:{$contactUs}">{$displayContactUs}</a></strong></td>
                            </tr>
                            <tr>
                                <td height="20" colspan="2" align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#000000">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="20" colspan="2" align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#666666"><strong>Disclaimer</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="8" align="center" valign="top" bgcolor="#DCDCDC">
                    <table width="570" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td align="left" valign="bottom" style="text-align:justify;font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#666666">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="60" align="left" valign="top" style="text-align:justify;font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#666666">{$disclaimer}</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#666666">{$termsConditions}</td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" style="font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#666666">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
