@model CSRPulse.Model.ProcessDocumentFilter
<div class="card bg-transparent">
    <div class="card-body">
        <form data-ajax="true" data-ajax-method="GET" data-ajax-update="#div-process-document" data-ajax-mode="replace"  asp-controller="ProcessDocument" asp-action="Search">
            <div class="row">
                <div class="col-md-2 col-form-label">
                    <i class="mdi mdi-filter"></i> <label>Filter By :</label>
                </div>
                <label asp-for="ProcessId" class="col-md-1 col-form-label"></label>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <select asp-for="ProcessId" asp-items="@ViewBag.ddlProcess" aria-required="true" class="form-select">
                        <option label="Select Process" disabled selected="" value=""></option>
                    </select>
                    <span asp-validation-for="ProcessId" class="invalid"></span>
                </div>
                <div class="col-md-5 text-end">
                    <button type="submit" value="Search" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to search records" class="btn btn-warning btn-sm rounded-pill text-white">
                        <i class="dripicons-search me-2"></i> Search
                    </button>
                    <a asp-controller="ProcessDocument" asp-action="Create" class="btn btn-danger btn-sm btn-rounded" title="Click here, to add new document"><i class="mdi mdi-plus-circle me-1"></i>Add Document</a>

                </div>
            </div>
        </form>
    </div>
</div>