@model CSRPulse.Model.Village
@using CSRPulse.Common
@{
    ViewData["Title"] = "Add New Village";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Masters</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Locations</a></li>
                    <li class="breadcrumb-item active">Village</li>
                </ol>
            </div>
            <h4 class="page-title">Village</h4>
        </div>
    </div>
    <div class="col">
        <partial name="_NoteFieldsMark" />
    </div>
</div>


<div class="card">
    <div class="card-body">
        <form method="post" asp-controller="Village" asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <label asp-for="StateId" class="form-label required">State Name</label>
                    <select asp-for="StateId" asp-items="@ViewBag.ddlState" aria-required="true" class="form-select">
                        <option disabled="" label="Select State" selected="" value=""></option>
                    </select>
                    <span asp-validation-for="StateId" class="invalid"></span>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <label asp-for="DistrictId" class="form-label required">District Name</label>
                    <select asp-for="DistrictId" aria-required="true" class="form-select">
                        <option disabled="" label="Select District" selected="" value=""></option>
                    </select>
                    <span asp-validation-for="DistrictId" class="invalid"></span>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <label asp-for="BlockId" class="form-label required">Block Name</label>
                    <select asp-for="BlockId" aria-required="true" class="form-select">
                        <option disabled="" label="Select Block" selected="" value=""></option>
                    </select>
                    <span asp-validation-for="BlockId" class="invalid"></span>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <label asp-for="VillageName" class="form-label required">Village Name</label>
                    <input type="text" asp-for="VillageName" class="form-control" maxlength="50" placeholder="Enter Village Name (max 50 characters)" autocomplete="off">
                    <span asp-validation-for="VillageName" class="invalid"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <label asp-for="VillageCode" class="form-label required">Village Code</label>
                    <input type="text" asp-for="VillageCode" class="form-control" maxlength="6" placeholder="Enter Village Code (6 digits number)" autocomplete="off">
                    <span asp-validation-for="VillageCode" class="invalid"></span>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <label asp-for="LocationType" class="form-label required">Location Type</label>
                    <select asp-for="LocationType" asp-items="@Html.GetEnumSelectList<EnumLocationType>()" aria-required="true" class="form-select">
                        <option disabled="" label="Location Type" selected="" value=""></option>
                    </select>
                    <span asp-validation-for="LocationType" class="invalid"></span>
                </div>
            </div>
            <div class="mb-2 text-end">
                <a asp-area="" asp-controller="Village" asp-action="Index" class="btn btn-light btn-sm"><i class="dripicons-reply m-1"></i> Back to list </a>
                <button class="btn btn-primary btn-sm" type="submit"><i class="mdi mdi-file-document m-1"></i> Save </button>
            </div>

        </form>
    </div> <!-- end card body-->
</div>
@section Scripts{
    <script src="~/scripts/Village.js" asp-append-version="true"></script>
}