@model Project

<form data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" enctype="multipart/form-data" asp-action="SaveDocumentCommunication" asp-controller="Project" data-ajax-success="onDocument">
    <div class="mb-2 text-end">
        <input type="hidden" asp-for="ProjectId" id="dProjectId" />
    </div>
    <div class="row">
        <div class="col-6 h5">Documents</div>
        <div class="col-6 text-end">
            <button class="btn btn-primary btn-sm" type="submit" name="ButtonType" value="document"><i class=" uil-weight me-1"></i> Save Document</button>
            <button class="btn btn-danger btn-sm" type="button" onclick="AddDocument()" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here, to assign Role"><i class="mdi mdi-plus me-1"></i>Add Document</button>
        </div>
    </div>
    <div class="mb-3" id="div-document-grid">
        @{await Html.RenderPartialAsync("_DocumentList", Model);}
    </div>
    <div class="row">
        <div class="col-6 h5">Communication</div>
        <div class="col-6 text-end">
            <button type="button" id="btnShowArchive" class="btn btn-dark btn-sm me-1">Show Archive</button>
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#AddCommunicationModal">
                <i class="mdi mdi-plus me-1"></i>Add Communication
            </button>
        </div>
    </div>
    <div class="mb-2" id="div-communication-grid">
        @{await Html.RenderPartialAsync("_CommunicationList", Model);}
    </div>
    <partial name="_AddCommunicationModal" model="Model" />
</form>

<form data-ajax="true" data-ajax-method="POST" method="Post" asp-action="AddDocument" asp-controller="Project" asp-area="" data-ajax-success="onAddDocument">
    <div id="add-document-div">
        @{await Html.RenderPartialAsync("_AddDocument", new DocumentModel()); }
    </div>
</form>

<partial name="_Confirmation" />
<script type="text/javascript">
    function onDocument(data) {
        if (data.type == 1) {
            $("#div-document-grid").html(data.htmlData);
            if (data.flag == 1) {
                commonMessage('success', data.msg);
            }
            else if (data.flag == 2) {
                commonMessage('warning', data.msg);
            }
        }
        else if (data.type == 2) {
            $("#div-communication-grid").html(data.htmlData);
            if (data.flag == 1) {
                commonMessage('success', 'Communication Saved Successfully.');
            }
            $('#AddCommunicationModal').modal('hide');

        }
    }

    function openpopup(cnt) {
        var id = cnt.id.split('_')[1];
        $('.btnconfirm').attr('id', id + '_' + cnt.checked);

    }
    function ActiveDeActive(obj) {
        var id = obj.id.split('_')[0];
        var isChecked = obj.id.split('_')[1];

        $.ajax({
            type: 'POST',
            dataType: 'JSON',
            url: '@Url.Action("ArchiveCommunication", "Project")',
            headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            data: { id: id, isChecked: isChecked },
            success: function (responce) {
                if (responce) {
                    commonMessage('success', 'Status changed successfully.');
                }

                else {
                    commonMessage('warning', 'Status changing failed.');
                }
            },
            error: function (responce) {
                commonMessage('error', 'Status changing failed.');
            }
        });
    }

    $(document).ready(function () {
        $(".is-archive").hide();
        $('#btnShowArchive').click(function () {
            $(".is-archive").toggle(400);
            $(this).text(function (i, text) {
                return text === "Show Archive" ? "Hide Archive" : "Show Archive";
            })
        });
    });

    function AddDocument() {
            $.ajax({
            type: 'GET',
            dataType: 'JSON',
            url: '@Url.Action("AddDocument", "Project", new { Area=""})',
                data: { projectId: @Model.ProjectId },
                success: function (data) {
                    $("#add-document-div").html(data.htmlData);
                    $('#add-document-modal').modal('show');
            },
            error: function (data) {
                commonMessage('error', 'Documents loading failed!');
            }
        });
    }

    function onAddDocument(data) {
        if (data.flag == 1 || data.flag == 2) {
            $("#div-document-grid").html(data.htmlData);
            $('#add-document-modal').modal('hide');
            commonMessage('success', data.msg);
        }
        else {
            commonMessage('error', 'Document adding failed!');
        }
    }
</script>
