@model CSRPulse.Model.Project

@{
    ViewData["Title"] = "Edit Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CSRPulse</a></li>
                    <li class="breadcrumb-item active">Project</li>
                </ol>
            </div>
            <h4 class="page-title">Edit Project</h4>
        </div>
    </div>

    <div class="col-12 bg-white">
        <ul class="nav nav-tabs nav-justified nav-bordered mb-3">
            <li class="nav-item">
                <a href="#pd-b2" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
                    <i class="mdi mdi-home-variant d-md-none d-block"></i>
                    <span class="d-none d-md-block">Project Details</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#profile-b2" onclick="return loadReport()" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                    <i class="mdi mdi-account-circle d-md-none d-block"></i>
                    <span class="d-none d-md-block">Progress Report</span>
                </a>
                <a id="InterventionReport" data-ajax="true" data-ajax-method="GET" data-ajax-update="#div-intervention-report-grid"
                   data-ajax-mode="replace" asp-action="GetReport" asp-route-projectId="@Model.ProjectId" asp-controller="Project"></a>
            </li>
            <li class="nav-item">
                <a href="#settings-b2" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                    <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                    <span class="d-none d-md-block">Settings</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="tab-content">
    <div class="tab-pane show active" id="pd-b2">
        <div class="card">
            <div class="card-body">
                <div class="col">
                    <div class="alert alert-secondary" role="alert">
                        <strong><i class="dripicons-information me-1"></i>Note - </strong> Fields marked with <b>(<span class="text-danger">*</span>)</b> are compulsory fields.
                    </div>
                </div>
                <div id="div-edit">
                    <partial name="_Edit" model="Model" />
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="profile-b2">
        <div class="card">
            <div class="card-body">
                <h5 class="mb-3">Progress Report</h5>
                <input id="hdnReportIsLoad" type="hidden" value="0" />
                <div id="div-intervention-report-grid">
                    @{await Html.RenderPartialAsync("_ProjectInterventionReport", Model.ProjectInterventionReport);}
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_AddLocationModal" model="Model.ProjectLocation"/>
<script>
function loadReport() {
    if ($('#hdnReportIsLoad').val() == 0) {
        $("#InterventionReport").trigger("click");
        $('#hdnReportIsLoad').val(1);
    }
}
</script>
@section Scripts{
    <script src="~/scripts/Project.js" asp-append-version="true"></script>
    <script src="~/scripts/JqueryTreeview.js" asp-append-version="true"></script>
}
