@model Activity

<div class="card bg-transparent">
    <div class="card-body">
        <form data-ajax="true" data-ajax-method="GET" data-ajax-update="#div-activity-list" data-ajax-mode="replace" asp-action="GetActivityList" asp-controller="Activity">
            <div class="row">
                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <i class="mdi mdi-filter"></i> <label>Filter By :</label>
                </div>
                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <label asp-for="ThemeId"></label>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                    <select asp-for="ThemeId" asp-items="@ViewBag.ddlTheme" aria-required="true" class="form-select">
                        <option disabled="" label="Select Theme" selected="" value="">Select Theme</option>
                    </select>
                    <span asp-validation-for="ThemeId" class="invalid"></span>
                </div>
                <div class="col text-end">
                    <button type="submit" value="Search" title="Click here, to search records" class="btn btn-warning rounded-pill text-white">
                        <i class="dripicons-search m-1"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>




