@{
    ViewData["Title"] = "Contact Me";
}

<section id="contact">
    <div class="row">
        <div class="ol-xl-10 col-lg-10 col-md-11 col-sm-12 m-auto">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 mt-3">
                    <div class="row" style="align-items: center;">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <h4 class="text-center">CSR<span class="text-primary pl-1">PULSE</span></h4>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                            <h4>
                                <span style="font-weight: 400;"> How can we help you today? </span><br>
                                <span style="font-weight: 100;">Fill in the form and we will get back to you in two working days.</span>
                            </h4>
                        </div>
                        <div class="col-sm-12 pl-5 mt-4">
                            <h4 style="font-weight: 400;">Sales Enquiries</h4>
                            <p>
                                If you are considering one of our products, fill in the form. If you need to get in touch with a sales person right now,
                                call us at 000 000 000 0000.
                            </p>
                        </div>
                        <div class="col-sm-12 pl-5 mt-4">
                            <h4 style="font-weight: 400;">Support Enquiries</h4>
                            <p>
                                If you are a concerned customer and need immediate help, you can visit our<br> <a href="#"> support portal.</a>
                            </p>
                        </div>
                        <div class="col-sm-12 pl-5 mt-4">
                            <h4 style="font-weight: 400;">Other Enquiries</h4>
                            <div>
                                <ul>
                                    <li>Our local office address can be found <a href="#"> here</a>.</li>
                                    <li>If you are looking for a partnership with CSRPulse.com, please <a href="#"> fill in this form</a>.</li>
                                    <li>If you are interested in an exciting career with CSRPulse.com, <a href="#">  apply for your #dreamjob here</a>.</li>
                                </ul>
                            </div>
                            <img src="~/images/contact.png" style="width: 100%;" asp-append-version="true">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 bg-light">
                    <h5 class="mt-3">Tell us a little about yourself, and we’ll be in touch right away.</h5>
                    <p class="text-muted">Please fill out all fields.</p>
                    <div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Job Title</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Work Email">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Company">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea rows="3" class="form-control" placeholder="Questions/Comments"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <p class="pr-5" style="font-size: 13px;">
                                    By registering, you confirm that you agree to the storing and processing of your personal data by CSRPulse as
                                    described in the <a href="#"> Privacy Statement</a>.
                                </p>
                            </div>
                            <div class="col-sm-12 mt-4">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-block">CONTACT US</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

